
.b-dispute-table {
  background: #fff;
  font-size: 24px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;

  > tbody > tr > th,
  > tbody > tr > td {
    vertical-align: middle;
  }

  &__header {
    text-align: center;
    width: 50%;
  }

  &__file-uploader {
    padding: 100px 0;
  }

  &__canvas {
    cursor: crosshair;
  }

  &__editor-input {
    display: block;
    border: none;
    outline: none;
    resize: none;
    text-align: center;
    width: 100%;

    &:focus {
      &::-webkit-input-placeholder {
        color: transparent;
      }

      &:-moz-placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }

      &:-ms-input-placeholder {
        color: transparent;
      }
    }
  }
}

.b-dispute-text {
  margin-bottom: 20px;
}

.b-dispute-social {
  margin-bottom: 25px;
}

.b-dispute-help {
  padding: 5px 0;
}
