
.social-groups {
  margin-left: -5px;
  margin-right: -5px;

  &__link {
    display: inline-block;
    font-size: @font-size-large;
    padding: 6px;
    width: 40px;
    height: 40px;
    transition: background-color .2s ease;
    border-radius: 50%;
    text-align: center;

    @media (min-width: @screen-lg-min) {
      margin: 0 5px;
    }
  }

  &__link_type_facebook {
    .social-link-variant(@brand-facebook);
  }

  &__link_type_twitter {
    .social-link-variant(@brand-twitter);
  }

  &__link_type_vk {
    .social-link-variant(@brand-vk);
  }

  &__link_type_youtube {
    .social-link-variant(@brand-youtube);
  }

  &__link_type_instagram {
    .social-link-variant(@brand-instagram);
  }

  &__link_type_inverse {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      background-color: @gray-light;
    }
  }
}
