
.forum-panel {
  background: @brand-inverse;
  position: relative;
  text-align: center;
  height: 50px;

  &__control {
    padding: 13px 20px;
  }
}

.forum-pagination {
  margin: 10px 0 5px 0;

  & > li > a,
  & > li > span {
    background-color: @brand-inverse;
    border-color: transparent !important;
    color: @navbar-inverse-link-color;

    &:hover,
    &:focus {
      background-color: lighten(@brand-inverse, 5%);
      color: @navbar-inverse-link-color;
    }
  }

  & > .active > a,
  & > .active > span {
    background-color: lighten(@brand-inverse, 5%) !important;
    color: @navbar-inverse-link-active-color;
  }

  .disabled {
    display: none;
  }
}

.forum-category {
  margin-bottom: 5px;
  position: relative;

  &__header {
    background: @brand-inverse;
    color: white;
    padding: 15px;
  }

  &__info {
    display: none;
    font-size: @font-size-small;
    padding: 7px 15px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__header:hover &__info {
    display: block;
  }
}

.forum-board-list {
  &__item {
    padding: 10px 15px;
    border-bottom: 1px solid @input-border;
    font-size: @font-size-small;
  }

  &__item-icon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/forum-board-icon.png) 50% no-repeat;
    background-size: cover;
  }

  &__item-content {
    margin-left: 55px;
  }

  &__item-name {
    font-size: @font-size-base;
    font-weight: bold;
  }
}

.forum-theme-list {
  &__item {
    border-bottom: 1px solid #e1e5e8;
    overflow: hidden;
    padding: 10px;

    .img{
      float: left;
    }

    .description {
      margin-left: 70px;
    }

    .small {
      font-size: 10px;
      color: #999;
      display: inline-block;
    }
  }

  &__item-icon {
    margin-right: 5px;
    text-align: center;
    width: 15px;
  }

  &__empty {
    color: @text-muted;
    text-align: center;
    padding: 100px 0;
  }
}

.forum-theme-pagination {
  display: inline-block;
  font-size: @font-size-small;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  > li {
    display: inline;
  }
}

.forum-comment-list {
  &__item {
    .clearfix();

    position: relative;
    border: 1px solid transparent;
    padding: 10px;
    margin-bottom: 1px;
    min-height: 170px;
    zoom: 1;

    &:nth-child(odd) {
      background-color: #f0f1f2;
      border-color: #f0f1f2;
    }

    &:nth-child(even) {
      background-color: #e1e5e8;
      border-color: #e1e5e8;
    }
  }

  &__item-profile {
    width: 150px;
    float: left;
  }

  &__item-body {
    margin-left: 150px;
  }

  &__item-footer {
    border-top: 1px solid @input-border;
    margin-top: @line-height-computed / 2;
    padding-left: 150px;
    padding-top: @line-height-computed / 2;
  }

  &__empty {
    background-color: #f0f1f2;
    color: @text-muted;
    text-align: center;
    padding: 80px 0;
  }
}

.forum-profile {
  &__avatar {
    width: 100px;
    margin: 10px 0;
  }

  &__rank,
  &__comments {
    color: @gray-light;
    font-size: @font-size-small;
  }
}

.forum-comment {
  &__meta {
    color: @gray-light;
    font-size: @font-size-small;
    margin-bottom: 5px;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__content {
    margin: 10px 0;
  }

  &__actions {
    display: none;

    a {
      display: block;
    }
  }

  .forum-comment-list__item:hover &__actions {
    display: block;
  }
}

.forum-comment-content {
  word-wrap: break-word;

  &__h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    padding-top: 5px;
  }

  &__h2 {
    font-weight: bold;
    font-size: 17px;
    line-height: 1.3;
  }

  &__h3 {
    font-size: 18px;
    line-height: 1.3;
  }

  &__quote {
    display: block;
    background: #fff;
    border: 1px solid @input-border;
    border-radius: 3px;
    font-size: @font-size-small;
    line-height: @line-height-small;
    padding: 10px 15px;
  }

  &__quote-header {
    font-weight: bold;
    margin-bottom: 10px;

    &:after {
      display: inline;
      content: ":"
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}

.forum-register-required {
  border: 1px solid @input-border;
  color: @text-muted;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.forum-smiles-list {
  &__item {
    display: inline-block;
    min-width: 30px;
  }
}

.forum-smile {
  display: inline-block !important;
  margin: 0 !important;
}
