@import "../../vendor/bower/selectize/dist/less/selectize.bootstrap3";

@selectize-shadow-input: none;
@selectize-shadow-input-focus: none;
@selectize-shadow-input-error: none;
@selectize-shadow-input-error-focus: none;

.selectize-input {
  &.focus {
    .selectize-box-shadow(none);
  }

  .input-lg & {
    line-height: 34px;
    padding-left: 16px;
  }
}