
.profile-actions {
  text-align: right;

  @media (max-width: @screen-sm-max) {
    .btn {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.profile-feedback-email {
  .clearfix();

  .form-control {
    padding-right: 150px;
  }

  .form-control-feedback {
    padding-right: 10px;
    text-align: right;
    width: 150px;
  }

  &-link {
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding-right: 10px;
  }
}
