
.b-boast-list-view {
  &_pagination_enabled &__items {
    padding-bottom: 60px;
  }
}

.b-boast-list {
  .make-row();
  .clearfix();

  &__item {
    .make-sm-column(4);
    .make-md-column(4);
    .make-lg-column(3);

    margin-bottom: @grid-gutter-width;
  }
}

.b-boast-spinner {
  background: url(../images/loading-2.gif) 50% no-repeat;
  background-size: 40px;
}

.b-boast-spinner,
.b-boast-noneleft {
  border: 1px solid @gray-lighter;
  color: @gray-light;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: @grid-gutter-width / 2;
  right: @grid-gutter-width / 2;
}

.b-boast {
  display: block;
  border: 1px solid @gray-lighter;
  position: relative;

  &__image-wrapper {
    display: block;
  }

  &__image {
    .img-responsive();
  }

  &__content-wrapper {
    .clearfix();
    padding: 15px;
  }

  &__meta {
    margin-bottom: 0;
  }

  &__divider {
    margin: 0;
  }

  &__user {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
  }

  &__content {
    display: block;
    color: @text-color;
    font-size: @font-size-small;
    line-height: @line-height-small;
    text-decoration: none;

    &:hover,
    &:focus {
      color: @text-color;
      text-decoration: none;
    }
  }

  &__controls {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;

    &-btn {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      opacity: .9;
      outline: none !important;
    }

    &-btn:focus,
    &-btn:hover {
      outline: none;
    }
  }

  &:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
  }

  &:hover &__controls {
    display: block;
  }
}

.b-raty {
  &__item {
    font-size: 3em !important;

    &_state_on {
      color: @brand-warning;
    }

    &_state_off {
      color: @input-border;
    }
  }
}
