
html {
  position: relative;
  min-height: 100%;
}

.body {
  &__footer {
    height: @footer-height;
    overflow: hidden;
  }

  &_fixed_footer {
    margin-bottom: @footer-height;
  }

  &_fixed_footer &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.multi-login {
  position: absolute;
  top: 125px;
  right: 0;
}

.search-area {
  &-wrapper {
    background: #353b65 url("../images/main-bg.jpg") center top no-repeat;
    background-size: cover;
    min-height: 280px;
  }

  &-container {
    color: #fff;
    padding: 50px 0;
  }

  &-header {
    color: #fff;
    font-size: 42px;
  }

  &-tag-line {
    font-size: 18px;
  }
}

.search-form {
  margin: 40px auto 0;

  @media (min-width: @screen-md-max) {
    padding: 0 20px;
    width: 80%;
  }

  &-input {
    border-color: transparent;

    &:focus {
      border-color: transparent;
    }
  }

  &-group {
    @media (min-width: @screen-sm-min) {
      float: left;
      width: 80%;
      padding-right: 10px;
    }
  }

  &-btn {
    display: block;
    font-size: 15px;
    line-height: 26px;

    @media (min-width: @screen-sm-min) {
      float: left;
      width: 20%;
    }
  }

  .has-error .help-block-error {
    display: inline-block;
    background: #a94442;
    color: white;
    margin-top: 0;
    padding: 4px 15px;
  }
}

.seller-info {
  position: relative;

  &-header {
    margin: 0 0 15px;

    @media (min-width: @screen-sm-min) {
      margin-right: 200px;
    }
  }

  &-title {
    margin: 0 0 5px;
  }

  &-updated {
    color: @text-muted;
    font-size: @font-size-small;
    margin-bottom: 10px;
  }

  &-text {
    p {
      margin-bottom: 5px;
    }
  }

  &-rating {
    font-size: 36px;
    margin-bottom: 10px;

    .fa {
      width: 35px;
      margin: 0 1px;
    }
  }

  .btn {
    font-size: @font-size-base;
    width: 180px;
  }

  @media (min-width: @screen-sm-min) {
    &-right-top {
      line-height: 36px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &-right-bottom {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.nav-pills {
  > li {
    > a {
      background: @panel-default-heading-bg;
      color: @gray-light;

      &:hover {
        background: darken(@panel-default-heading-bg, 6.5%);
      }
    }
  }
}

.nav-links {
  > li {
    display: inline-block;
  }
}

.dl-seller {
  dd {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: @screen-sm-min) {
    dt {
      width: 250px;
    }

    dd {
      margin-left: 270px;
    }
  }
}

.list-inline {
  margin-bottom: 0;

  &_style_wide {
    margin-left: -13px;
    margin-right: -13px;

    > li {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
}

.help-icon {
  cursor: pointer;
  float: right;
  font-size: .8em;

  @media (max-width: @screen-sm-max) {
    display: none;
  }

  &-sm {
    font-size: .7em;
  }

  .fa-stack-2x {
    color: #ddd;
  }

  &:hover {
    .fa-stack-1x {
      color: #fff;
    }

    .fa-stack-2x {
      color: @gray;
    }
  }
}

.rating {
  color: @brand-warning;
}

.stripe {
  padding-top: 40px;
  padding-bottom: 40px;
  min-width: @container-desktop;

  &-flatten {
    padding-top: 0;
    padding-bottom: 0;
  }

  &-inverse {
    background-color: @navbar-inverse-bg;
  }

  &-gray {
    background-color: @gray-lighter;
  }

  &-spy {
    overflow: hidden;

    .container {
      position: relative;

      &:before {
        display: block;
        content: "\f21b";
        color: #fff;
        font-family: "FontAwesome";
        font-size: 450px;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 0;
  position: relative;

  > * {
    margin-top: 0;
  }

  &__title {
    display: inline-block;
    color: #000000;
    font-size: @font-size-h1;
    line-height: @font-size-h1;
    margin-right: 40px;
    margin-bottom: 0;
    text-decoration: none;

    a&:hover,
    a&:focus {
      color: @brand-primary;
      text-decoration: none;
    }
  }

  &__nav {
    display: inline-block;
  }

  &__nav-link {
    color: @gray-dark;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: @brand-primary;
      text-decoration: none;
    }
  }

  &__controls {
    float: right;
  }

  &__btn {
    line-height: 38px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.page-divider {
  margin: 10px 0 30px;

  &_style_border {
    border-bottom: 1px solid @brand-primary;
    margin-top: 20px;
  }
}

.block-fog {
  position: relative;
  overflow: hidden;

  &:after {
    display: block;
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
}

.statistics {
  text-align: center;

  &-item {
    display: inline-block;
    font-size: 5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.6rem;
  }
}

.auth-clients {
  &-item {
    margin-bottom: 15px;
  }

  .btn {
    padding: 15px;
    width: 100%;
  }

  .auth-icon {
    float: left;
    font-size: 20px;
  }

  .auth-title {
    text-align: center;
  }
}

.border-link {
  color: @link-color;
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:hover {
    color: @link-hover-color;
    border-bottom: 1px solid @link-hover-color;
    text-decoration: none;
  }

  &-dashed {
    &:focus,
    &:hover {
      border-bottom-style: dashed;
    }
  }
}

.nav-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: -15px 5px -15px 0;
}

.btn-pill {

}

.btn-file {
  position: relative;
  overflow: hidden;

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.file-hidden {
  top: -10px;
  right: -40px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 50px;

  &-container {
    position: relative;
    overflow: hidden;
  }
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 5px;
  padding: 0;

  > li {
    &:before {
      display: none;
    }

    &:after {
      content: "\00a0@{breadcrumb-separator}"; // Unicode space added since inline-block means non-collapsing white-space
      color: #aaa;
      padding: 0 5px;
    }
  }

  a {
    color: #aaa;
  }
}

.form-group .redactor-box {
  margin-bottom: 0;
}

.has-loader {
  position: relative;

  .form-control {
    color: @input-border;
  }

  .form-control-loader {
    left: 0;
    color: @gray;
    width: auto;
  }
}

.control-label-help {
  display: inline-block;
  font-size: @font-size-small;
  margin-left: 10px;
}
