
.b-comment-list {
  &_level_second {
    @media (min-width: @screen-sm-min) {
      margin-left: 80px;
      margin-top: 15px;
    }
  }

  &__item {
    margin-bottom: 15px;
  }

  &__item .b-comment-form {
    margin-left: 80px;
  }
}

.comment-variant(@brand-color, @text) {
  border-color: @brand-color;
  background-color: lighten(@brand-color, 35%);
  position: relative;

  &:before {
    display: block;
    content: @text;
    color: @brand-color;
    font-size: .7em;
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.b-comment {
  border: 1px solid @input-border;
  padding: 15px;
  position: relative;

  &_style_author {
    .comment-variant(@brand-warning, "Автор");
  }

  &_style_moderator {
    .comment-variant(@brand-info, "Модератор");
  }

  &__anchor {
    position: absolute;
    top: -70px;
  }

  &__content {
    margin-bottom: 5px;
  }
}