
.footer {
  width: 100%;
  background-color: @navbar-inverse-bg;
  color: @navbar-inverse-color;
  padding: 15px 0;

  &__header {
    margin-bottom: 10px;
  }

  &__link {
    display: inline-block;
    color: @navbar-inverse-link-color;

    &:focus,
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}