
.b-meta {
  .clearfix();

  color: @gray-light;

  &__item {
    display: inline-block;
    height: 22px;
    margin-top: 5px;
    margin-right: 10px;
    white-space: nowrap;

    @media (min-width: @screen-xs-max) {
      margin-right: 25px;
    }
  }

  &__icon {
    margin-right: 3px;

    @media (max-width: @screen-sm-min) {
      width: 1.3em;
      text-align: center;
    }

    &_type_avatar {
      border-radius: 50%;
      margin-top: -3px;
      width: 20px;
      height: 20px;
    }
  }
}

.meta-info-group {
  margin-left: -10px;
  margin-right: -10px;

  .clearfix();

  &__item {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.meta-info {
  color: inherit;
  text-decoration: none;

  a&:hover,
  a&:focus {
    color: @link-color;
    text-decoration: none;
  }

  &_style_danger &__icon {
    color: @brand-danger;
  }

  &_style_warning &__icon {
    color: @brand-warning;
  }
}
