
.b-product-list {
  &__empty {
    color: @gray-light;
    height: 220px;
    padding-top: 40px;
    text-align: center;
  }
}

.b-product-thumb {
  color: @text-color;
  position: relative;
  .transition(none);

  &:hover {
    color: @text-color;
    text-decoration: none;
  }

  @media (min-width: @screen-sm-min) {
    height: 400px;
  }

  &__image {
    margin-bottom: 10px;
  }

  &__title {
    font-size: @font-size-h6;
  }

  &__discount {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: @brand-success;
    color: #fff;
    font-size: @font-size-large;
    padding: 2px 15px;
  }

  &:hover &__discount {
    background-color: @brand-primary;
  }

  &__price {
    font-size: @font-size-large;
  }

  &__price-original {
    color: @gray-light;
    text-decoration: line-through;
  }

  &__price-current {
    color: @brand-primary;
  }

  &__count {
    color: @gray-light;
    font-size: @font-size-base;
  }
}

.b-product-widget {
  display: block;
  border: 1px solid @input-border;
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;

  &:hover {
    border-color: @link-color;
    text-decoration: none
  }

  &__image {
    display: block;
    float: left;
    height: 100px;
    margin-right: 15px;
  }

  &__title {
    color: @text-color;
    margin-top: 0;
  }

  &__price {
    color: @brand-primary;
    font-weight: bold;
  }

  &__unit {
    color: @gray-light;

    &:before {
      display: inline-block;
      content: "/";
      margin-right: 3px;
    }
  }
}
