
.review-widget-group {
  margin-right: -2px;

  .clearfix();

  &__item {
    display: block;
    float: left;
    border-right: 2px solid #fff;
  }

  &--columns-3 &__item {
    width: 100% / 3;
    height: 280px;
    padding-top: 24px;
  }
}

.review-widget {
  display: block;
  position: relative;
  background-position: 50%;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
  height: 100%;

  &:before {
    display: block;
    content: "";
    background: #000;
    opacity: .4;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
  }

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;

    &:before {
      background: @brand-primary;
      opacity: .6;
    }
  }

  &__avatar {
    display: block;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    top: -23px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
  }

  &__content {
    position: absolute;
    padding: 10px;
    text-align: center;
    top: 30%;
    width: 100%;
  }

  &__title {
    font-size: @font-size-large;
    line-height: @line-height-large;
    margin-bottom: 10px;
  }
}