
.coupon-settings {
  .checkbox {
    margin: 0;
  }

  a {
    border-bottom: 1px dashed @link-color;

    &:hover,
    &:focus {
      border-color: @link-hover-color;
      text-decoration: none;
    }
  }
}

.coupon-list {
  &__item {
    margin-bottom: 20px;
  }
}

.coupon {
  border: 1px solid @gray-lighter;
  border-radius: @border-radius-base;
  padding: 20px;
  position: relative;
  min-height: 140px;

  .clearfix();

  &--warning {
    background-color: fade(@panel-warning-heading-bg, 20%);
    border-color: @panel-warning-border;
  }

  &--danger {
    background-color: fade(@panel-danger-heading-bg, 20%);
    border-color: @panel-danger-border;
  }

  &__header {
    margin-bottom: 15px;
  }

  &__id {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: @text-muted;
    font-size: @font-size-small;
  }

  &__store {
    font-size: @font-size-large;
    line-height: @line-height-large;
  }

  &__image {
    position: absolute;
    width: 100px;
    margin-right: 20px;
    float: left;
  }

  &__content {
    margin-left: 120px;
  }

  &__right {
    color: @text-muted;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  &__issused {
    color: @brand-danger;
  }

  &__meta {
    margin-bottom: 15px;
  }
}

.coupon-meta {
  &__header {
    color: @text-muted;
    font-size: @font-size-small;
    line-height: @line-height-small;
    text-transform: uppercase;
  }

  &__lg {
    font-size: 32px;
    line-height: @line-height-large;
    margin-right: 5px;
  }
}
