
.b-rating-nav {
  margin-bottom: 20px;
}

.b-rating-table {
  border: 1px solid @table-border-color;
  margin-bottom: 0;

  th,
  td {
    padding: 15px !important;
  }

  td {
    font-size: @font-size-large;
    vertical-align: middle !important;
  }

  &__serial-header {
    width: 9%;
  }

  &__serial-column {
    text-align: center;
  }

  &__avatar-header {
    width: 60px;
  }

  &__avatar-column {
    td& {
      padding: 10px 0 10px 10px !important;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__counter-header {
    padding: 5px 10px;
    text-align: right;
    width: 230px;
  }

  &__counter-column {
    text-align: right;
  }

  &__counter-sm {
    display: none;
    font-size: 0.7em;
  }

  &__row:hover &__counter-sm {
    display: inline-block;
  }

  &__counter-lg {
    display: inline-block;
    width: 40px;
  }

  &__username-column {
    min-width: 350px;

    .prize {
      display: block;
      float: right;
      margin-right: -10px;
    }
  }

  &__username-link {
    color: @gray-dark;

    &:hover,
    &:focus {
      color: @gray-dark;
      text-decoration: none;
    }
  }

  &__rating-header {
    text-align: right;
    width: 170px;
  }

  &__rating-column {
    text-align: right;
  }

  .empty {
    text-align: center;
  }
}