
.b-chrome-ext-modal {
  &__dialog {
    width: 580px;
  }

  &__steps {
    background: url("../images/chrome-ext-steps.png") no-repeat;
    width: 550px;
    height: 402px;
    position: relative;

    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../images/chrome-ext-steps@2x.png');
      background-size: 100%;
    }
  }

  &__step {
    position: absolute;

    &:nth-child(2n+1) {
      text-align: left;
      padding-left: 40px;
    }

    &:nth-child(2n) {
      text-align: right;
      padding-right: 40px;
    }

    &_no_1 {
      top: 77px;
      left: 230px;
    }

    &_no_2 {
      top: 280px;
      right: 232px;
    }
  }

  &__body + &__body {
    padding-top: 0;
  }

  &__install {
    position: relative;
    padding-left: 75px;

    &:before {
      display: block;
      content: "";
      width: 55px;
      height: 55px;
      top: -5px;
      left: 10px;
      position: absolute;
    }

    &_browser_chrome {
      &:before {
        background: url(../images/chrome-logo.png) 0 no-repeat;
        background-size: 100%;
      }
    }
  }

  &__refuse {
    margin-top: 5px;
  }
}