.wysiwyg {
  position: relative
}

.wysiwyg-wrapper {
  border: 1px solid #dcdcdc;
  border-bottom: none;
  overflow: hidden;
}

.wysiwyg-panel {
  background: #eeeeee
}

.with-title {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-right: 15px
}

.wysiwyg-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #dcdcdc;
  float: left;
  color: #6da3bd
}

.wysiwyg-button:hover {
  background: #dcdcdc;
  color: #4d7285
}

.wysiwyg-button .fa {
  vertical-align: middle;
  display: inline-block
}

.wysiwyg-dropdown {
  position: relative;
  overflow: hidden
}

.wysiwyg-dropdown select {
  position: absolute;
  left: 0;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-appearance: none;
  border: 0;
  font-size: 14px;
  line-height: 32px;
  height: 32px
}

.can_use_html {
  float: right;
  font-size: 10px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #dcdcdc;
  color: #666666
}

.can_use_html a {
  border-bottom: 1px dashed;
  text-decoration: none
}

.wysiwyg-help {
  padding: 10px;
  clear: both;
  border-top: 1px solid #dcdcdc
}

.wysiwyg-help h4 {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #666666
}

.wysiwyg-help h4:first-child {
  margin-top: 0;
  clear: both;
  padding-top: 10px;
  font-size: 16px
}

.wysiwyg-help dl {
  font-size: 11px;
  margin-bottom: 10px
}

.wysiwyg-help dl dt {
  color: #000000;
  font-weight: bold
}

.wysiwyg-help dl dd {
  color: #666666
}

.wysiwyg-input {
  border: 1px solid #dcdcdc;
  padding: 2px;
  background: #ffffff
}

.wysiwyg-input textarea {
  width: 99%;
  border: 0;
  margin: 0;
  font-size: 14px;
  outline: none;
  resize: none;
}

.wysiwyg-help .close_html {
  font-size: 10px;
  text-align: right
}

.wysiwyg-help .close_html a {
  border-bottom: 1px dashed;
  text-decoration: none
}
