
.b-tracker {
  &__error {
    color: @brand-danger;
    margin-bottom: 15px;
  }

  &__loader {
    margin-bottom: 15px;
    text-align: center;
  }
}


.b-tracker-form {
  margin-bottom: 20px;

  &__input {
    @media (min-width: @screen-sm-min) {
      width: 400px !important;
    }
  }

  &__submit {
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }
}

.b-tracker-checkpoint {
  margin-bottom: 10px;

  &__time {
    font-weight: bold;
  }

  &__action {
    display: inline-block;
  }
}

.b-tracker-history {
  border: 1px solid @input-border;
  margin-bottom: 15px;
  padding: 15px;

  &__header {
    margin-top: 0;
  }

  &__action-remove {
    color: @gray-light;
    cursor: pointer;

    &:hover {
      color: @brand-danger;
    }
  }
}
