
.b-upload-btn {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;

  &__input {
    top: -10px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
  }

  &_style_link {
    border-bottom: 1px dashed lighten(@link-color, 30%);
    color: @link-color;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      border-bottom-color: @link-hover-color;
      color: @link-hover-color;
    }
  }
}

.b-upload-btn-text {
  color: @text-muted;
  display: inline-block;
  font-size: @font-size-small;
  line-height: 1.7;
  margin-left: 10px;
  overflow: hidden;
}

.b-upload-dnd {
  color: @gray-light;
  border: 2px dashed @input-border;
  margin-bottom: @line-height-computed;
  padding: 20px;
  text-align: center;

  @media (min-width: @screen-md-min) {
    padding: 50px;
  }

  &_state_hover {
    background: @gray-lighter;
  }

  &__divider {
    display: block;
    content: "или";
    font-size: 80%;
    padding: 5px 0 10px;
  }

  &__text-default {
    display: block;
  }
}

.b-upload-thumb-list {
  .make-row();

  margin-bottom: -12px;
  overflow: hidden;

  &__item {
    .make-xs-column(6);
    .make-sm-column(3);
    .make-md-column(2);
  }
}

.b-upload-thumb {
  width: 100%;
  padding-bottom: 100%;

  &_state_hoverable {
    position: relative;

    a&:hover {
      border-color: @thumbnail-border;
    }
  }

  &_state_hoverable &__hover {
    display: none;
  }

  &_state_hoverable:hover &__hover {
    display: block;
  }

  &__image {
    background: 50% no-repeat;
    background-size: contain;
    position: absolute;
    top: @thumbnail-padding;
    right: @thumbnail-padding;
    bottom: @thumbnail-padding;
    left: @thumbnail-padding;
  }

  &__hover {
    background: @gray-darker;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &-inner {
      font-size: 10px;
      line-height: 13px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }

    &-icon {
      font-size: 60px;
    }

    &-text {

    }
  }
}
