
.extension-widget {
  background: url(../images/chrome-ext-preview.png) 15px 15px no-repeat;
  background-size: 230px;
  border: 1px solid @panel-default-border;
  margin-bottom: 22px;
  padding: 15px 15px 15px 260px;
  position: relative;

  &__header {
    margin-top: 0;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}