
.b-publication-list {
  &__item {
    margin-bottom: 40px;
  }
}

.publication-header {
  display: block;
  font-size: 21px;
  line-height: 1.3;
  position: relative;
  margin: 0 0 20px;

  &__title {
    color: #000;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

  &__link {
    &:hover,
    &:focus {
      color: @link-color;
      text-decoration: none;
    }
  }
}

.publication-label-header {
  display: block;
  position: relative;
  padding-top: 8px;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 10px solid #fff;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding-bottom: 5px;
    width: 90%;
  }

  &__background {
    display: inline;
    background: #fff;
    color: #000;
    padding: 6px 0 7px;
  }

  &__title {
    display: inline;
    font-size: 21px;
    line-height: 1.3;
    position: relative;
    left: -10px;
  }

  &__link {
    &:hover,
    &:focus {
      color: @link-color;
      text-decoration: none;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 280px;
    background-size: cover;
  }
}

.b-publication {
  &__paragraph {
    display: block;
    margin-bottom: @line-height-computed;
  }

  &__h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
  }

  &__h2 {
    font-weight: bold;
    font-size: 17px;
    line-height: 1.3;
  }

  &__h3 {
    font-size: 18px;
    line-height: 1.3;
  }

  &__list {
    padding-left: 20px;
    margin-bottom: 0;
  }

  blockquote {
    font-size: 17px;
  }

  img {
    border: 1px solid @gray-lighter;
    max-width: 100%;
  }

  table {
    border: 1px solid @table-border-color;
    margin-bottom: @line-height-computed / 2;

    td {
      border: 1px solid @table-border-color;
      padding: 5px;
    }
  }
}

.b-publication-teaser {
  margin-top: @line-height-computed / 2;
  margin-bottom: @line-height-computed;
}

.b-publication-meta {
  border-color: @gray-lighter;
  border-style: solid;
  border-width: 1px 0;
  color: @text-muted;
  margin: 0;
  padding: 6px 0;
  overflow: hidden;
}

.b-publication-spoiler {
  background: #fff;
  border: 1px solid @input-border;
  border-radius: 3px;
  margin-bottom: @line-height-computed / 2;

  &__header {
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;

    &:hover {
      background-color: @gray-lighter;
    }

    &-icon {
      padding: 14px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &-icon:before {
      content: "\f068";
    }

    &.collapsed &-icon:before {
      content: "\f067";
    }
  }

  &__body {
    border-top: 1px solid @input-border;
  }

  &__content {
    padding: 10px 15px;

    :last-child {
      margin-bottom: 0;
    }
  }
}

.b-publication-preview {
  border: 4px solid @input-border;
  margin-bottom: 30px;
  padding: 10px 15px 5px;
}

.publication-widget-group {
  .clearfix();

  &__item {
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    float: left;
  }

  &_columns_2 &__item {
    width: 100% / 2;
  }

  &_columns_3 &__item {
    width: 100% / 3;
  }
}

.publication-widget {
  background-size: cover;
  color: #fff;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;

  &:before {
    display: block;
    content: "";
    background: #000;
    opacity: .4;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
  }

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;

    &:before {
      background: @brand-primary;
      opacity: .6;
    }
  }

  &:hover &__meta-icon {
    color: #fff;
  }

  &_size_big {
    padding: 40px 50px;
    width: 100%;
    height: 400px;
  }

  &_size_big &__title {
    font-size: 37px;
    line-height: 1.2;
    width: 80%;
    margin-bottom: 20px;
  }

  &_size_big &__description {
    font-size: 18px;
    width: 60%;
  }

  &_size_small {
    padding: 15px 20px;
    height: 170px;
  }

  &_size_small &__title {
    font-size: @font-size-large;
    line-height: @line-height-large;
  }

  &__title {
    position: relative;
  }

  &__description {
    position: relative;
  }

  &__date {
    font-size: @font-size-base;
    position: absolute;
    left: 20px;
    bottom: 15px;
  }

  &__meta {
    font-size: @font-size-base;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }
}
