.b-latest-news {
  overflow: hidden;

  &__header {
    margin: 0 0 15px;
  }

  &__control {
    margin-bottom: 10px;
  }

  &__empty {
    font-style: italic;
    color: #6B6B6B;
    font-size: 0.9em;
  }
}

.b-latest-news-list {
  margin: 0 0 -6px;
  padding: 0;

  a {
    color: @gray;
    transition: color .2s ease;
  }

  &:hover a {
    color: @link-color;
  }

  &__item {
    list-style: none;
    padding: 6px 0;
    overflow: hidden;
    border-bottom: dotted 1px #c7c7c7;

    &:last-child{
      border-bottom: none;
    }
  }
}
