
@logo-width: 100px;
@logo-width-lg: 150px;
@menu-height: 75px;

.main-menu {
  background: @navbar-inverse-bg;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 300;
  min-width: @container-desktop;

  &_position_fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: @zindex-navbar-fixed;
  }

  &__container {
    position: relative;
    height: @menu-height;
  }

  &__logo {
    color: @gray-lighter;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 50%;
    width: @logo-width;
    margin-left: -(@logo-width / 2);
    text-align: center;
    font-size: @font-size-large;

    @media (min-width: @screen-lg-min) {
      width: @logo-width-lg;
      margin-left: -(@logo-width-lg / 2);
    }
  }

  &__left {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: (@logo-width / 2);

    @media (min-width: @screen-lg-min) {
      margin-right: (@logo-width-lg / 2);
    }
  }

  &__right {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: (@logo-width / 2);

    @media (min-width: @screen-lg-min) {
      margin-left: (@logo-width-lg / 2);
    }
  }

  &__left-corner {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__right-corner {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__icon {
    font-size: 2em;
    position: relative;
    top: 6px;
    margin-right: 2px;
  }

  &__avatar {
    border-radius: 50%;
    margin-left: 6px;
    width: 40px;
    height: 40px;

    @media (min-width: @screen-lg-min) {
      margin-left: 8px;
    }
  }

  &__username {
    display: block;
    float: left;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__dropdown {
    left: auto;
    right: -1px;
    margin-top: -7px;
  }

  &__notifications {
    color: #fff;
    background: @brand-danger;
    position: absolute;
    top: 5px;
    right: -15px;
    padding: 0 5px;
    font-size: @font-size-small;

    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 0;
      border-color: @brand-danger transparent transparent transparent;
    }

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}

.main-menu-link {
  display: inline-block;
  color: @navbar-inverse-link-color;
  text-decoration: none;
  line-height: @menu-height + 2px;

  &:hover,
  &:focus {
    color: @navbar-inverse-link-hover-color;
    text-decoration: none;
  }

  &--active {
    color: @brand-primary;
  }

  &--new {
    position: relative;

    &:before {
      display: block;
      content: "NEW";
      color: @brand-primary;
      font-size: 8px;
      position: absolute;
      top: -15px;
      right: 0;
    }
  }

  &--sm &__text {
    display: inline-block;
    font-size: 11px;
    line-height: 1.3;
    width: 60px;
    position: relative;
    top: 5px;
  }

  &__svg-icon svg {
    fill: @navbar-inverse-link-color;
    width: 40px;
    height: 40px;
    position: relative;
    top: 14px;
  }

  &:hover &__svg-icon svg {
    fill: @navbar-inverse-link-hover-color;
  }
}

.main-menu-nav {
  display: block;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: block;
    float: left;
    padding: 0 5px;

    @media (min-width: @screen-lg-min) {
      padding: 0 10px;
    }
  }
}

.main-menu-search {
  margin-bottom: 15px;
  position: relative;

  &__input {
    border-color: transparent !important;
    font-size: @font-size-small;
  }

  &__error {
    display: none;
    background: @brand-danger;
    color: #fff;
    position: absolute;
    line-height: 36px;
    padding: 0 35px 0 15px;
    right: 0;
    top: 0;
    bottom: 0;

    .has-error & {
      display: block;
    }
  }

  &__submit {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    line-height: @input-height-base;
    padding: 0 10px;
  }
}
