
.b-complaint {
  border: 1px solid transparent;
  position: relative;

  & + & {
    margin-top: 20px;
  }

  &_style_bordered {
    border-color:  @gray-lighter;
    cursor: pointer;
    padding: 20px;
  }

  &_state_rejected {
    border-color: @brand-primary;
    background-color: #ffecdf;
    position: relative;
  }

  &__background-link {
    border: 1px solid transparent;
    transition: border-color .5s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &:hover {
      border-color: @brand-primary;
    }
  }

  &__body {
    .clearfix();

    &_style_blockquote {
      border-left: 5px solid @blockquote-border-color;
      padding-left: 20px;

      .b-complaint_state_rejected & {
        border-color: @brand-primary;
      }
    }

    &_state_redactor {
      padding-left: 0;
    }
  }

  &__text {
    margin-bottom: 10px;
    word-wrap: break-word;

    &_state_collapsed {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &__redactor {
    &-input {
      border-color: @gray-lighter;
      border-left: 5px solid @blockquote-border-color;
    }

    &-controls {
      margin-top: 10px;
      text-align: right;

      .btn + .btn {
        margin-left: 5px;
      }
    }
  }

  &__reject {
    &-message {
      color: @brand-primary;
      font-size: 80%;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;

      @media (min-width: @screen-sm-min) {
        position: absolute;
        top: 15px;
        right: 20px;
      }

      .popover-content {
        color: black;
        font-size: 80%;
        min-width: 300px;
      }
    }

    &-reason {
      text-decoration: underline;
    }
  }

  &__meta {
    float: left;

    a {
      position: relative;
      z-index: 2;
    }
  }

  &__photo {
    &-row {
      margin-bottom: -15px;
    }

    &-empty {
      color: @gray-light;
      height: 220px;
      padding-top: 40px;
      text-align: center;
    }

    &-thumbnail {
      position: relative;
      transition: none;
    }

    &-thumbnail &-delete {
      display: none;
    }

    &-thumbnail:hover &-delete {
      display: block;
    }

    &-delete {
      background: @brand-danger;
      color: #ffffff;
      cursor: pointer;
      opacity: 0.9;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &-icon {
        font-size: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-image {
      display: block;
      background: 50% no-repeat;
      background-size: cover;
      height: 200px;
    }
  }
}

.b-complaint-seller {
  margin-bottom: 20px;

  &:before {
    display: block;
    float: left;
    content: "";

    background: url(../images/icon-shopping-bag.png);
    background-size: cover;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

  &__name {
    font-size: @font-size-h3;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  &__info {
    opacity: .8;
  }
}

.complaint-widget {
  display: block;
  color: #fff;
  padding: 20px 20px 30px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__rating {
    font-size: @font-size-small;
    line-height: @line-height-small;
    margin-bottom: 15px;
  }

  &__content {
    max-height: 110px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__author {
    padding-top: 10px;
  }

  &__avatar {
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    margin-right: 4px;
  }

  &__stars {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
  }

  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__map {
    background: url(../images/map.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  &__bg-black {
    background: fade(#000, 70);
  }

  &__bg-red {
    background: fade(@brand-primary, 60);
  }

  &__hoverable {
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:hover &__hoverable {
    opacity: 1;
  }
}
