
<div id="feedback-detail" class="clearfix">
    <div class="feedback-title">
        <span class="f18">Seller  Feedback</span>
        <span ><a href="http://help.aliexpress.com/feedback_policy.html" target="_blank">Learn more about our Feedback Rating System</a></span>
    </div>
</div>
<div id="tables" class="clearfix">
    <div id="feedback-summary" class="box-gray M feedback-summary">
        <div class="new-top">
            <h3>Seller  Summary</h3>
        </div>
        <div class="middle middle-seller">
            <table border="0" bordercolor="#000" class="summary-tb widthfixed" width="100%">
                <tbody>
                <tr>
                    <th width="230">Seller:</th>
                    <td>
                        <a href="http://www.aliexpress.com/store/540179" target="_top">DressClub</a>
                    </td>
                </tr>

                <tr>
                    <th>Positive Feedback (Past 6 months):</th>
                    <td><span>96.3%</span>
                        <img id="positionMsgHelpId" class="imageHelp" align="absmiddle" src="http://img.alibaba.com/images/eng/escrow/icon/ico_help.gif"/></td>
                </tr>

                <tr>
                    <th>Feedback Score:</th>
                    <td><span>2,227</span>
								<span class="l-img">
											<img src="http://img.alibaba.com/wimg/feedback/icon/23-s.gif" alt="" title="This is the Feedback Symbol for Feedback Scores from 2,000-4,999." /></span>
                        <img id="scoreMsgHelpId" class="imageHelp" align="absmiddle" src="http://img.alibaba.com/images/eng/escrow/icon/ico_help.gif"/></td>
                </tr>
                <tr>
                    <th>AliExpress Seller  Since:</th>
                    <td>26 Oct 2013  </td>
                </tr>
                </tbody>
            </table>
            <div id="positionMsgHelpContentId" style="display:none;position:absolute;" class="tip-popup left">
                <div class="arrow"></div>
                <a href="javascript:void(0);" class="close-button">close</a>
                <div class="content">
                    <strong>Positive Feedback</strong> is calculated by dividing the past 6 months of 4 and 5 star ratings by the total number of positive and negative ratings from the same time period.
                    <img src="http://i01.i.aliimg.com/images/cms/upload/wholesale/icons/positive_feedback_ratings_new.png" alt="positive feedback" width="282" height="27" class="positive-feedback-ratings" />
                </div>
            </div>
            <div id="numberMsgHelpContentId" style="display:none;position:absolute;" class="tip-popup left">
                <div class="arrow"></div>
                <a href="javascript:void(0);" class="close-button">close</a>
                <div class="content">
                    <strong>Number of Ratings </strong>  is the total number of feedback ratings received.
                    <p>Note: If multiple feedback ratings are left by the same buyer within 10 days, they are counted as one feedback rating.</p>
                </div>
            </div>
            <div id="ratings-help-content" style="display:none;position:absolute;" class="tip-popup right">
                <div class="arrow"></div>
                <a href="javascript:void(0);" class="close-button">close</a>
                <div class="content">
                    <p>If multiple feedback ratings are left by the same buyer within 10 days, they are counted as one feedback rating.</p>
                </div>
            </div>
            <div id="scoreMsgHelpContentId" style="display:none;position:absolute;" class="tip-popup left">
                <div class="arrow"></div>
                <a href="javascript:void(0);" class="close-button">close</a>
                <div class="content">
                    <strong>Feedback Score</strong> is the sum of all Star Ratings after they have been converted into points.
                    <ul>
                        <li>Conversion:  5 Star or 4 Star Ratings = +1 Point</li>
                        <li>3 Star Ratings = 0 Points</li>
                        <li>2 Star or 1 Star Ratings = -1 Point</li>
                    </ul>
                    <p>The table below displays the Feedback Symbol for each Feedback Score level:</p>
                    <table id="feedback-score">
                        <tbody>
                        <tr><th width="50%">Feedback Symbol</th><th>Feedback Score</th></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/11-s.gif" alt="" /></td><td>3 - 9</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/12-s.gif" alt="" /></td><td>10 - 29</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/13-s.gif" alt="" /></td><td>30 - 99</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/14-s.gif" alt="" /></td><td>100 - 199</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/15-s.gif" alt="" /></td><td>200 - 499</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/21-s.gif" alt="" /></td><td>500 - 999</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/22-s.gif" alt="" /></td><td>1,000 - 1,999</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/23-s.gif" alt="" /></td><td>2,000 - 4,999</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/24-s.gif" alt="" /></td><td>5,000 - 9,999</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/25-s.gif" alt="" /></td><td>10,000 - 19,999</td></tr>
                        <tr><td><img src="http://img.alibaba.com/wimg/feedback/icon/31-s.gif" alt="" /></td><td>20,000 - 49,999</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="dsr-help-content" style="display:none;position:absolute;" class="tip-popup right">
                <div class="arrow"></div>
                <a href="javascript:void(0);" class="close-button">close</a>
                <div class="content">
                    <p>Detailed Seller Ratings are a summary of all ratings from buyers about sellers over the past 6 months regarding Item as described, Communication, Shipping speed.</p>
                </div>
            </div>
            <script type="text/javascript">
                YUE.onDOMReady(function(){
                    (new AE.widget.clickShow()).init({
                        targetId:"positionMsgHelpId",contentId:"positionMsgHelpContentId",needMask:true,excursion:[-10,'bottom'],closeBtnsClassName:"close-button"});
                    (new AE.widget.clickShow()).init({
                        targetId:"numberMsgHelpId",contentId:"numberMsgHelpContentId",needMask:true,excursion:[-10,'bottom'],closeBtnsClassName:"close-button"});
                    (new AE.widget.clickShow()).init({
                        targetId:"scoreMsgHelpId",contentId:"scoreMsgHelpContentId",needMask:true,excursion:[-10,'bottom'],closeBtnsClassName:"close-button"});
                    (new AE.widget.clickShow()).init({
                        targetId:"ratings-help-handler",contentId:"ratings-help-content",needMask:true,excursion:[-256,'bottom'],closeBtnsClassName:"close-button"});
                    (new AE.widget.clickShow()).init({
                        targetId:"dsr-help-handler",contentId:"dsr-help-content",needMask:true,excursion:[-256,'bottom'],closeBtnsClassName:"close-button"});
                });
            </script>
        </div>
    </div>

    <div id="feedback-dsr" class="box-gray M feedback-dsr">
        <div class="new-top">
            <h3>Detailed seller ratings</h3>
            <img align="absmiddle" id="dsr-help-handler" class="imageHelp" src="http://img.alibaba.com/images/eng/escrow/icon/ico_help.gif">
        </div>
        <div class="middle middle-seller">
            <table border="0" bordercolor="#000" class="widthfixed" width="100%">
                <tbody>
                <tr>
                    <th width="25%">Item as Described :</th>
                    <td width="38%">
                        <span class="dsr-star"><span style="width:90%;"></span></span>
                        <span class="dsr-text"> <em>4.5</em><span>(2254 ratings)</span></span>
                    </td>
                    <td width="37%">
                        <div class="compare-info">
                            <em class="compare-high">7.40% Higher</em><span>than other sellers</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Communication :</th>
                    <td>
                        <span class="dsr-star"><span style="width:92%;"></span></span>
                        <span class="dsr-text"> <em>4.6</em><span>(2254 ratings)</span></span>
                    </td>
                    <td>
                        <div class="compare-info">
                            <em class="compare-equal">Equal to</em><span>other sellers</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Shipping Speed :</th>
                    <td>
                        <span class="dsr-star"><span style="width:90%;"></span></span>
                        <span class="dsr-text"> <em>4.5</em><span>(2254 ratings)</span></span>
                    </td>
                    <td>
                        <div class="compare-info">
                            <em class="compare-low">1.72% Lower</em><span>than other sellers</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="feedback-history" class="box-gray M feedback-history">
        <div class="new-top">
            <h3> Feedback History</h3>
            <img align="absmiddle" src="http://img.alibaba.com/images/eng/escrow/icon/ico_help.gif" class="imageHelp" id="ratings-help-handler" />
        </div>
        <div class="middle">
            <table border="0" bordercolor="#000" class="history-tb widthfixed" width="100%">
                <tbody>
                <tr class="first">
                    <th width="30%">Feedback</th>
                    <td width="14%">1 Month </td>
                    <td width="14%">3 Months</td>
                    <td width="14%">6 Months </td>
                    <td width="14%">12 Months</td>
                    <td width="14%">Overall</td>
                </tr>
                <tr class="blue">
                    <th>Positive (4-5 Stars)</th>
                    <td><a class="positive-1">356 </a></td>
                    <td><a class="positive-3">1,314 </a></td>
                    <td><a class="positive-6">1,924 </a></td>
                    <td><a class="positive-12">2,311 </a></td>
                    <td><a class="positive-all">2,311 </a></td>
                </tr>
                <tr class="blue even">
                    <th>Neutral (3 Stars)</th>
                    <td><a class="neutral-1">22 </a></td>
                    <td><a class="neutral-3">95 </a></td>
                    <td><a class="neutral-6">126 </a></td>
                    <td><a class="neutral-12">139 </a></td>
                    <td><a class="neutral-all">139 </a></td>
                </tr>
                <tr class="blue">
                    <th>Negative (1-2 Stars)</th>
                    <td><a class="negative-1">14 </a></td>
                    <td><a class="negative-3">57 </a></td>
                    <td><a class="negative-6">73 </a></td>
                    <td><a class="negative-12">87 </a></td>
                    <td><a class="negative-all">87 </a></td>
                </tr>
                <tr class="even">
                    <th>Positive feedback rate</th>
                    <td>96.2%</td>
                    <td>95.8%</td>
                    <td>96.3%</td>
                    <td>96.4%</td>
                    <td>96.4%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<form id="d-dispatcher-form" name="d-dispatcher-form" action=" /display/detail.htm " method="post">
    <input type="hidden" name="ownerMemberId" value="220238235"/>
    <input type="hidden" id="companyId" name="companyId" value=""/>
    <input type="hidden" name="memberType" value="seller"/>
    <input type="hidden" name="evalType" value=""/>
    <input type="hidden" name="month" value="$month"/>
    <input type="hidden" name="dynamicTab" value="true"/>
    <input type="hidden" name="refreshPage" value="dynamic"/>
</form>
