.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.sorter-inline {
  display: inline-block;
}
.sorter-inline .asc:before {
  display: inline-block;
  content: '↑\00a0';
}
.sorter-inline .desc:before {
  display: inline-block;
  content: '↓\00a0';
}
.thumbnail-uploadable {
  position: relative;
  transition: none;
}
.thumbnail-uploadable:hover .thumbnail-uploadable-delete {
  display: block;
}
.thumbnail-uploadable-delete {
  display: none;
  background: indianred;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.thumbnail-uploadable-delete-icon {
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.thumbnail-uploadable-image {
  display: block;
  background: 50% no-repeat;
  background-size: contain;
  height: 200px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
.file-hidden {
  top: -10px;
  right: -40px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 50px;
}
.file-hidden-container {
  position: relative;
  overflow: hidden;
}
#redactor-droparea-placeholder input[type="file"] {
  display: inline-block;
}
