html {
  position: relative;
  min-height: 100%;
}
.body__footer {
  height: 100px;
  overflow: hidden;
}
.body_fixed_footer {
  margin-bottom: 100px;
}
.body_fixed_footer .body__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.multi-login {
  position: absolute;
  top: 125px;
  right: 0;
}
.search-area-wrapper {
  background: #353b65 url("../images/main-bg.jpg") center top no-repeat;
  background-size: cover;
  min-height: 280px;
}
.search-area-container {
  color: #fff;
  padding: 50px 0;
}
.search-area-header {
  color: #fff;
  font-size: 42px;
}
.search-area-tag-line {
  font-size: 18px;
}
.search-form {
  margin: 40px auto 0;
}
@media (min-width: 1279px) {
  .search-form {
    padding: 0 20px;
    width: 80%;
  }
}
.search-form-input {
  border-color: transparent;
}
.search-form-input:focus {
  border-color: transparent;
}
@media (min-width: 5px) {
  .search-form-group {
    float: left;
    width: 80%;
    padding-right: 10px;
  }
}
.search-form-btn {
  display: block;
  font-size: 15px;
  line-height: 26px;
}
@media (min-width: 5px) {
  .search-form-btn {
    float: left;
    width: 20%;
  }
}
.search-form .has-error .help-block-error {
  display: inline-block;
  background: #a94442;
  color: white;
  margin-top: 0;
  padding: 4px 15px;
}
.seller-info {
  position: relative;
}
.seller-info-header {
  margin: 0 0 15px;
}
@media (min-width: 5px) {
  .seller-info-header {
    margin-right: 200px;
  }
}
.seller-info-title {
  margin: 0 0 5px;
}
.seller-info-updated {
  color: #777777;
  font-size: 13px;
  margin-bottom: 10px;
}
.seller-info-text p {
  margin-bottom: 5px;
}
.seller-info-rating {
  font-size: 36px;
  margin-bottom: 10px;
}
.seller-info-rating .fa {
  width: 35px;
  margin: 0 1px;
}
.seller-info .btn {
  font-size: 15px;
  width: 180px;
}
@media (min-width: 5px) {
  .seller-info-right-top {
    line-height: 36px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .seller-info-right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.nav-pills > li > a {
  background: #f5f5f5;
  color: #777777;
}
.nav-pills > li > a:hover {
  background: #e4e4e4;
}
.nav-links > li {
  display: inline-block;
}
.dl-seller dd {
  margin-bottom: 5px;
}
.dl-seller dd:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 5px) {
  .dl-seller dt {
    width: 250px;
  }
  .dl-seller dd {
    margin-left: 270px;
  }
}
.list-inline {
  margin-bottom: 0;
}
.list-inline_style_wide {
  margin-left: -13px;
  margin-right: -13px;
}
.list-inline_style_wide > li {
  padding-left: 13px;
  padding-right: 13px;
}
.help-icon {
  cursor: pointer;
  float: right;
  font-size: .8em;
}
@media (max-width: 999px) {
  .help-icon {
    display: none;
  }
}
.help-icon-sm {
  font-size: .7em;
}
.help-icon .fa-stack-2x {
  color: #ddd;
}
.help-icon:hover .fa-stack-1x {
  color: #fff;
}
.help-icon:hover .fa-stack-2x {
  color: #555555;
}
.rating {
  color: #f0ad4e;
}
.stripe {
  padding-top: 40px;
  padding-bottom: 40px;
  min-width: 1000px;
}
.stripe-flatten {
  padding-top: 0;
  padding-bottom: 0;
}
.stripe-inverse {
  background-color: #3b4348;
}
.stripe-gray {
  background-color: #eeeeee;
}
.stripe-spy {
  overflow: hidden;
}
.stripe-spy .container {
  position: relative;
}
.stripe-spy .container:before {
  display: block;
  content: "\f21b";
  color: #fff;
  font-family: "FontAwesome";
  font-size: 450px;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.page-header {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 0;
  position: relative;
}
.page-header > * {
  margin-top: 0;
}
.page-header__title {
  display: inline-block;
  color: #000000;
  font-size: 39px;
  line-height: 39px;
  margin-right: 40px;
  margin-bottom: 0;
  text-decoration: none;
}
a.page-header__title:hover,
a.page-header__title:focus {
  color: #df691a;
  text-decoration: none;
}
.page-header__nav {
  display: inline-block;
}
.page-header__nav-link {
  color: #333333;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}
.page-header__nav-link:hover,
.page-header__nav-link:focus {
  color: #df691a;
  text-decoration: none;
}
.page-header__controls {
  float: right;
}
.page-header__btn {
  line-height: 38px;
  padding-bottom: 0;
  padding-top: 0;
}
.page-divider {
  margin: 10px 0 30px;
}
.page-divider_style_border {
  border-bottom: 1px solid #df691a;
  margin-top: 20px;
}
.block-fog {
  position: relative;
  overflow: hidden;
}
.block-fog:after {
  display: block;
  content: '';
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
.statistics {
  text-align: center;
}
.statistics-item {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
}
.statistics p {
  font-size: 1.6rem;
}
.auth-clients-item {
  margin-bottom: 15px;
}
.auth-clients .btn {
  padding: 15px;
  width: 100%;
}
.auth-clients .auth-icon {
  float: left;
  font-size: 20px;
}
.auth-clients .auth-title {
  text-align: center;
}
.border-link {
  color: #df691a;
  cursor: pointer;
  text-decoration: none;
}
.border-link:focus,
.border-link:hover {
  color: #9a4912;
  border-bottom: 1px solid #9a4912;
  text-decoration: none;
}
.border-link-dashed:focus,
.border-link-dashed:hover {
  border-bottom-style: dashed;
}
.nav-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: -15px 5px -15px 0;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.file-hidden {
  top: -10px;
  right: -40px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 50px;
}
.file-hidden-container {
  position: relative;
  overflow: hidden;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 5px;
  padding: 0;
}
.breadcrumb > li:before {
  display: none;
}
.breadcrumb > li:after {
  content: "\00a0/";
  color: #aaa;
  padding: 0 5px;
}
.breadcrumb a {
  color: #aaa;
}
.form-group .redactor-box {
  margin-bottom: 0;
}
.has-loader {
  position: relative;
}
.has-loader .form-control {
  color: #cccccc;
}
.has-loader .form-control-loader {
  left: 0;
  color: #555555;
  width: auto;
}
.control-label-help {
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
}
.b-boast-list-view_pagination_enabled .b-boast-list-view__items {
  padding-bottom: 60px;
}
.b-boast-list {
  margin-left: -10px;
  margin-right: -10px;
}
.b-boast-list:before,
.b-boast-list:after {
  content: " ";
  display: table;
}
.b-boast-list:after {
  clear: both;
}
.b-boast-list__item {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
@media (min-width: 5px) {
  .b-boast-list__item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1000px) {
  .b-boast-list__item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1280px) {
  .b-boast-list__item {
    float: left;
    width: 25%;
  }
}
.b-boast-spinner {
  background: url(../images/loading-2.gif) 50% no-repeat;
  background-size: 40px;
}
.b-boast-spinner,
.b-boast-noneleft {
  border: 1px solid #eeeeee;
  color: #777777;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
}
.b-boast {
  display: block;
  border: 1px solid #eeeeee;
  position: relative;
}
.b-boast__image-wrapper {
  display: block;
}
.b-boast__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.b-boast__content-wrapper {
  padding: 15px;
}
.b-boast__content-wrapper:before,
.b-boast__content-wrapper:after {
  content: " ";
  display: table;
}
.b-boast__content-wrapper:after {
  clear: both;
}
.b-boast__meta {
  margin-bottom: 0;
}
.b-boast__divider {
  margin: 0;
}
.b-boast__user {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.b-boast__content {
  display: block;
  color: #333333;
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
}
.b-boast__content:hover,
.b-boast__content:focus {
  color: #333333;
  text-decoration: none;
}
.b-boast__controls {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.b-boast__controls-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  opacity: .9;
  outline: none !important;
}
.b-boast__controls-btn:focus,
.b-boast__controls-btn:hover {
  outline: none;
}
.b-boast:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}
.b-boast:hover .b-boast__controls {
  display: block;
}
.b-raty__item {
  font-size: 3em !important;
}
.b-raty__item_state_on {
  color: #f0ad4e;
}
.b-raty__item_state_off {
  color: #cccccc;
}
.forum-panel {
  background: #485254;
  position: relative;
  text-align: center;
  height: 50px;
}
.forum-panel__control {
  padding: 13px 20px;
}
.forum-pagination {
  margin: 10px 0 5px 0;
}
.forum-pagination > li > a,
.forum-pagination > li > span {
  background-color: #485254;
  border-color: transparent !important;
  color: #c1cad1;
}
.forum-pagination > li > a:hover,
.forum-pagination > li > span:hover,
.forum-pagination > li > a:focus,
.forum-pagination > li > span:focus {
  background-color: #545f62;
  color: #c1cad1;
}
.forum-pagination > .active > a,
.forum-pagination > .active > span {
  background-color: #545f62 !important;
  color: #ffffff;
}
.forum-pagination .disabled {
  display: none;
}
.forum-category {
  margin-bottom: 5px;
  position: relative;
}
.forum-category__header {
  background: #485254;
  color: white;
  padding: 15px;
}
.forum-category__info {
  display: none;
  font-size: 13px;
  padding: 7px 15px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}
.forum-category__header:hover .forum-category__info {
  display: block;
}
.forum-board-list__item {
  padding: 10px 15px;
  border-bottom: 1px solid #cccccc;
  font-size: 13px;
}
.forum-board-list__item-icon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(../images/forum-board-icon.png) 50% no-repeat;
  background-size: cover;
}
.forum-board-list__item-content {
  margin-left: 55px;
}
.forum-board-list__item-name {
  font-size: 15px;
  font-weight: bold;
}
.forum-theme-list__item {
  border-bottom: 1px solid #e1e5e8;
  overflow: hidden;
  padding: 10px;
}
.forum-theme-list__item .img {
  float: left;
}
.forum-theme-list__item .description {
  margin-left: 70px;
}
.forum-theme-list__item .small {
  font-size: 10px;
  color: #999;
  display: inline-block;
}
.forum-theme-list__item-icon {
  margin-right: 5px;
  text-align: center;
  width: 15px;
}
.forum-theme-list__empty {
  color: #777777;
  text-align: center;
  padding: 100px 0;
}
.forum-theme-pagination {
  display: inline-block;
  font-size: 13px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
.forum-theme-pagination > li {
  display: inline;
}
.forum-comment-list__item {
  position: relative;
  border: 1px solid transparent;
  padding: 10px;
  margin-bottom: 1px;
  min-height: 170px;
  zoom: 1;
}
.forum-comment-list__item:before,
.forum-comment-list__item:after {
  content: " ";
  display: table;
}
.forum-comment-list__item:after {
  clear: both;
}
.forum-comment-list__item:nth-child(odd) {
  background-color: #f0f1f2;
  border-color: #f0f1f2;
}
.forum-comment-list__item:nth-child(even) {
  background-color: #e1e5e8;
  border-color: #e1e5e8;
}
.forum-comment-list__item-profile {
  width: 150px;
  float: left;
}
.forum-comment-list__item-body {
  margin-left: 150px;
}
.forum-comment-list__item-footer {
  border-top: 1px solid #cccccc;
  margin-top: 11px;
  padding-left: 150px;
  padding-top: 11px;
}
.forum-comment-list__empty {
  background-color: #f0f1f2;
  color: #777777;
  text-align: center;
  padding: 80px 0;
}
.forum-profile__avatar {
  width: 100px;
  margin: 10px 0;
}
.forum-profile__rank,
.forum-profile__comments {
  color: #777777;
  font-size: 13px;
}
.forum-comment__meta {
  color: #777777;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 0;
}
.forum-comment__meta li {
  display: inline-block;
  margin-right: 5px;
}
.forum-comment__content {
  margin: 10px 0;
}
.forum-comment__actions {
  display: none;
}
.forum-comment__actions a {
  display: block;
}
.forum-comment-list__item:hover .forum-comment__actions {
  display: block;
}
.forum-comment-content {
  word-wrap: break-word;
}
.forum-comment-content__h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  padding-top: 5px;
}
.forum-comment-content__h2 {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.3;
}
.forum-comment-content__h3 {
  font-size: 18px;
  line-height: 1.3;
}
.forum-comment-content__quote {
  display: block;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.5;
  padding: 10px 15px;
}
.forum-comment-content__quote-header {
  font-weight: bold;
  margin-bottom: 10px;
}
.forum-comment-content__quote-header:after {
  display: inline;
  content: ":";
}
.forum-comment-content__image {
  max-width: 100%;
  height: auto;
}
.forum-register-required {
  border: 1px solid #cccccc;
  color: #777777;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
.forum-smiles-list__item {
  display: inline-block;
  min-width: 30px;
}
.forum-smile {
  display: inline-block !important;
  margin: 0 !important;
}
.b-dispute-table {
  background: #fff;
  font-size: 24px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
}
.b-dispute-table > tbody > tr > th,
.b-dispute-table > tbody > tr > td {
  vertical-align: middle;
}
.b-dispute-table__header {
  text-align: center;
  width: 50%;
}
.b-dispute-table__file-uploader {
  padding: 100px 0;
}
.b-dispute-table__canvas {
  cursor: crosshair;
}
.b-dispute-table__editor-input {
  display: block;
  border: none;
  outline: none;
  resize: none;
  text-align: center;
  width: 100%;
}
.b-dispute-table__editor-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.b-dispute-table__editor-input:focus:-moz-placeholder {
  color: transparent;
}
.b-dispute-table__editor-input:focus::-moz-placeholder {
  color: transparent;
}
.b-dispute-table__editor-input:focus:-ms-input-placeholder {
  color: transparent;
}
.b-dispute-text {
  margin-bottom: 20px;
}
.b-dispute-social {
  margin-bottom: 25px;
}
.b-dispute-help {
  padding: 5px 0;
}
@media (min-width: 5px) {
  .b-comment-list_level_second {
    margin-left: 80px;
    margin-top: 15px;
  }
}
.b-comment-list__item {
  margin-bottom: 15px;
}
.b-comment-list__item .b-comment-form {
  margin-left: 80px;
}
.b-comment {
  border: 1px solid #cccccc;
  padding: 15px;
  position: relative;
}
.b-comment_style_author {
  border-color: #f0ad4e;
  background-color: #fef9f3;
  position: relative;
}
.b-comment_style_author:before {
  display: block;
  content: "Автор";
  color: #f0ad4e;
  font-size: .7em;
  font-weight: bold;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.b-comment_style_moderator {
  border-color: #5bc0de;
  background-color: #f0f9fc;
  position: relative;
}
.b-comment_style_moderator:before {
  display: block;
  content: "Модератор";
  color: #5bc0de;
  font-size: .7em;
  font-weight: bold;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.b-comment__anchor {
  position: absolute;
  top: -70px;
}
.b-comment__content {
  margin-bottom: 5px;
}
.b-complaint {
  border: 1px solid transparent;
  position: relative;
}
.b-complaint + .b-complaint {
  margin-top: 20px;
}
.b-complaint_style_bordered {
  border-color: #eeeeee;
  cursor: pointer;
  padding: 20px;
}
.b-complaint_state_rejected {
  border-color: #df691a;
  background-color: #ffecdf;
  position: relative;
}
.b-complaint__background-link {
  border: 1px solid transparent;
  transition: border-color 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.b-complaint__background-link:hover {
  border-color: #df691a;
}
.b-complaint__body:before,
.b-complaint__body:after {
  content: " ";
  display: table;
}
.b-complaint__body:after {
  clear: both;
}
.b-complaint__body_style_blockquote {
  border-left: 5px solid #eeeeee;
  padding-left: 20px;
}
.b-complaint_state_rejected .b-complaint__body_style_blockquote {
  border-color: #df691a;
}
.b-complaint__body_state_redactor {
  padding-left: 0;
}
.b-complaint__text {
  margin-bottom: 10px;
  word-wrap: break-word;
}
.b-complaint__text_state_collapsed {
  max-height: 200px;
  overflow: hidden;
}
.b-complaint__redactor-input {
  border-color: #eeeeee;
  border-left: 5px solid #eeeeee;
}
.b-complaint__redactor-controls {
  margin-top: 10px;
  text-align: right;
}
.b-complaint__redactor-controls .btn + .btn {
  margin-left: 5px;
}
.b-complaint__reject-message {
  color: #df691a;
  font-size: 80%;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
@media (min-width: 5px) {
  .b-complaint__reject-message {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
.b-complaint__reject-message .popover-content {
  color: black;
  font-size: 80%;
  min-width: 300px;
}
.b-complaint__reject-reason {
  text-decoration: underline;
}
.b-complaint__meta {
  float: left;
}
.b-complaint__meta a {
  position: relative;
  z-index: 2;
}
.b-complaint__photo-row {
  margin-bottom: -15px;
}
.b-complaint__photo-empty {
  color: #777777;
  height: 220px;
  padding-top: 40px;
  text-align: center;
}
.b-complaint__photo-thumbnail {
  position: relative;
  transition: none;
}
.b-complaint__photo-thumbnail .b-complaint__photo-delete {
  display: none;
}
.b-complaint__photo-thumbnail:hover .b-complaint__photo-delete {
  display: block;
}
.b-complaint__photo-delete {
  background: #d9534f;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.b-complaint__photo-delete-icon {
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.b-complaint__photo-image {
  display: block;
  background: 50% no-repeat;
  background-size: cover;
  height: 200px;
}
.b-complaint-seller {
  margin-bottom: 20px;
}
.b-complaint-seller:before {
  display: block;
  float: left;
  content: "";
  background: url(../images/icon-shopping-bag.png);
  background-size: cover;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.b-complaint-seller__name {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.b-complaint-seller__info {
  opacity: .8;
}
.complaint-widget {
  display: block;
  color: #fff;
  padding: 20px 20px 30px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.complaint-widget:hover,
.complaint-widget:focus {
  color: #fff;
  text-decoration: none;
}
.complaint-widget__title {
  font-size: 26px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.complaint-widget__rating {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.complaint-widget__content {
  max-height: 110px;
  margin-bottom: 10px;
  overflow: hidden;
}
.complaint-widget__author {
  padding-top: 10px;
}
.complaint-widget__avatar {
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  margin-right: 4px;
}
.complaint-widget__stars {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 32px;
}
.complaint-widget__cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.complaint-widget__map {
  background: url(../images/map.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.complaint-widget__bg-black {
  background: rgba(0, 0, 0, 0.7);
}
.complaint-widget__bg-red {
  background: rgba(223, 105, 26, 0.6);
}
.complaint-widget__hoverable {
  opacity: 0;
  transition: opacity .3s ease;
}
.complaint-widget:hover .complaint-widget__hoverable {
  opacity: 1;
}
.coupon-settings .checkbox {
  margin: 0;
}
.coupon-settings a {
  border-bottom: 1px dashed #df691a;
}
.coupon-settings a:hover,
.coupon-settings a:focus {
  border-color: #9a4912;
  text-decoration: none;
}
.coupon-list__item {
  margin-bottom: 20px;
}
.coupon {
  border: 1px solid #eeeeee;
  border-radius: 0;
  padding: 20px;
  position: relative;
  min-height: 140px;
}
.coupon:before,
.coupon:after {
  content: " ";
  display: table;
}
.coupon:after {
  clear: both;
}
.coupon--warning {
  background-color: rgba(252, 248, 227, 0.2);
  border-color: #faebcc;
}
.coupon--danger {
  background-color: rgba(242, 222, 222, 0.2);
  border-color: #ebccd1;
}
.coupon__header {
  margin-bottom: 15px;
}
.coupon__id {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #777777;
  font-size: 13px;
}
.coupon__store {
  font-size: 19px;
  line-height: 1.3333333;
}
.coupon__image {
  position: absolute;
  width: 100px;
  margin-right: 20px;
  float: left;
}
.coupon__content {
  margin-left: 120px;
}
.coupon__right {
  color: #777777;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 20px;
}
.coupon__issused {
  color: #d9534f;
}
.coupon__meta {
  margin-bottom: 15px;
}
.coupon-meta__header {
  color: #777777;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
}
.coupon-meta__lg {
  font-size: 32px;
  line-height: 1.3333333;
  margin-right: 5px;
}
.extension-widget {
  background: url(../images/chrome-ext-preview.png) 15px 15px no-repeat;
  background-size: 230px;
  border: 1px solid #dddddd;
  margin-bottom: 22px;
  padding: 15px 15px 15px 260px;
  position: relative;
}
.extension-widget__header {
  margin-top: 0;
}
.extension-widget__close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.footer {
  width: 100%;
  background-color: #3b4348;
  color: #818a90;
  padding: 15px 0;
}
.footer__header {
  margin-bottom: 10px;
}
.footer__link {
  display: inline-block;
  color: #c1cad1;
}
.footer__link:focus,
.footer__link:hover {
  color: #ffffff;
  text-decoration: none;
}
.b-latest-news {
  overflow: hidden;
}
.b-latest-news__header {
  margin: 0 0 15px;
}
.b-latest-news__control {
  margin-bottom: 10px;
}
.b-latest-news__empty {
  font-style: italic;
  color: #6B6B6B;
  font-size: 0.9em;
}
.b-latest-news-list {
  margin: 0 0 -6px;
  padding: 0;
}
.b-latest-news-list a {
  color: #555555;
  transition: color .2s ease;
}
.b-latest-news-list:hover a {
  color: #df691a;
}
.b-latest-news-list__item {
  list-style: none;
  padding: 6px 0;
  overflow: hidden;
  border-bottom: dotted 1px #c7c7c7;
}
.b-latest-news-list__item:last-child {
  border-bottom: none;
}
.main-menu {
  background: #3b4348;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 300;
  min-width: 1000px;
}
.main-menu_position_fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
.main-menu__container {
  position: relative;
  height: 75px;
}
.main-menu__logo {
  color: #eeeeee;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  font-size: 19px;
}
@media (min-width: 1280px) {
  .main-menu__logo {
    width: 150px;
    margin-left: -75px;
  }
}
.main-menu__left {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: 50px;
}
@media (min-width: 1280px) {
  .main-menu__left {
    margin-right: 75px;
  }
}
.main-menu__right {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 50px;
}
@media (min-width: 1280px) {
  .main-menu__right {
    margin-left: 75px;
  }
}
.main-menu__left-corner {
  position: absolute;
  top: 0;
  left: 0;
}
.main-menu__right-corner {
  position: absolute;
  top: 0;
  right: 0;
}
.main-menu__icon {
  font-size: 2em;
  position: relative;
  top: 6px;
  margin-right: 2px;
}
.main-menu__avatar {
  border-radius: 50%;
  margin-left: 6px;
  width: 40px;
  height: 40px;
}
@media (min-width: 1280px) {
  .main-menu__avatar {
    margin-left: 8px;
  }
}
.main-menu__username {
  display: block;
  float: left;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-menu__dropdown {
  left: auto;
  right: -1px;
  margin-top: -7px;
}
.main-menu__notifications {
  color: #fff;
  background: #d9534f;
  position: absolute;
  top: 5px;
  right: -15px;
  padding: 0 5px;
  font-size: 13px;
}
.main-menu__notifications:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: #d9534f transparent transparent transparent;
}
.main-menu__notifications:hover,
.main-menu__notifications:focus {
  color: #fff;
  text-decoration: none;
}
.main-menu-link {
  display: inline-block;
  color: #c1cad1;
  text-decoration: none;
  line-height: 77px;
}
.main-menu-link:hover,
.main-menu-link:focus {
  color: #ffffff;
  text-decoration: none;
}
.main-menu-link--active {
  color: #df691a;
}
.main-menu-link--new {
  position: relative;
}
.main-menu-link--new:before {
  display: block;
  content: "NEW";
  color: #df691a;
  font-size: 8px;
  position: absolute;
  top: -15px;
  right: 0;
}
.main-menu-link--sm .main-menu-link__text {
  display: inline-block;
  font-size: 11px;
  line-height: 1.3;
  width: 60px;
  position: relative;
  top: 5px;
}
.main-menu-link__svg-icon svg {
  fill: #c1cad1;
  width: 40px;
  height: 40px;
  position: relative;
  top: 14px;
}
.main-menu-link:hover .main-menu-link__svg-icon svg {
  fill: #ffffff;
}
.main-menu-nav {
  display: block;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.main-menu-nav__item {
  display: block;
  float: left;
  padding: 0 5px;
}
@media (min-width: 1280px) {
  .main-menu-nav__item {
    padding: 0 10px;
  }
}
.main-menu-search {
  margin-bottom: 15px;
  position: relative;
}
.main-menu-search__input {
  border-color: transparent !important;
  font-size: 13px;
}
.main-menu-search__error {
  display: none;
  background: #d9534f;
  color: #fff;
  position: absolute;
  line-height: 36px;
  padding: 0 35px 0 15px;
  right: 0;
  top: 0;
  bottom: 0;
}
.has-error .main-menu-search__error {
  display: block;
}
.main-menu-search__submit {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 36px;
  padding: 0 10px;
}
.b-meta {
  color: #777777;
}
.b-meta:before,
.b-meta:after {
  content: " ";
  display: table;
}
.b-meta:after {
  clear: both;
}
.b-meta__item {
  display: inline-block;
  height: 22px;
  margin-top: 5px;
  margin-right: 10px;
  white-space: nowrap;
}
@media (min-width: 4px) {
  .b-meta__item {
    margin-right: 25px;
  }
}
.b-meta__icon {
  margin-right: 3px;
}
@media (max-width: 5px) {
  .b-meta__icon {
    width: 1.3em;
    text-align: center;
  }
}
.b-meta__icon_type_avatar {
  border-radius: 50%;
  margin-top: -3px;
  width: 20px;
  height: 20px;
}
.meta-info-group {
  margin-left: -10px;
  margin-right: -10px;
}
.meta-info-group:before,
.meta-info-group:after {
  content: " ";
  display: table;
}
.meta-info-group:after {
  clear: both;
}
.meta-info-group__item {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.meta-info {
  color: inherit;
  text-decoration: none;
}
a.meta-info:hover,
a.meta-info:focus {
  color: #df691a;
  text-decoration: none;
}
.meta-info_style_danger .meta-info__icon {
  color: #d9534f;
}
.meta-info_style_warning .meta-info__icon {
  color: #f0ad4e;
}
.b-chrome-ext-modal__dialog {
  width: 580px;
}
.b-chrome-ext-modal__steps {
  background: url("../images/chrome-ext-steps.png") no-repeat;
  width: 550px;
  height: 402px;
  position: relative;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .b-chrome-ext-modal__steps {
    background-image: url('../images/chrome-ext-steps@2x.png');
    background-size: 100%;
  }
}
.b-chrome-ext-modal__step {
  position: absolute;
}
.b-chrome-ext-modal__step:nth-child(2n+1) {
  text-align: left;
  padding-left: 40px;
}
.b-chrome-ext-modal__step:nth-child(2n) {
  text-align: right;
  padding-right: 40px;
}
.b-chrome-ext-modal__step_no_1 {
  top: 77px;
  left: 230px;
}
.b-chrome-ext-modal__step_no_2 {
  top: 280px;
  right: 232px;
}
.b-chrome-ext-modal__body + .b-chrome-ext-modal__body {
  padding-top: 0;
}
.b-chrome-ext-modal__install {
  position: relative;
  padding-left: 75px;
}
.b-chrome-ext-modal__install:before {
  display: block;
  content: "";
  width: 55px;
  height: 55px;
  top: -5px;
  left: 10px;
  position: absolute;
}
.b-chrome-ext-modal__install_browser_chrome:before {
  background: url(../images/chrome-logo.png) 0 no-repeat;
  background-size: 100%;
}
.b-chrome-ext-modal__refuse {
  margin-top: 5px;
}
.b-product-list__empty {
  color: #777777;
  height: 220px;
  padding-top: 40px;
  text-align: center;
}
.b-product-thumb {
  color: #333333;
  position: relative;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.b-product-thumb:hover {
  color: #333333;
  text-decoration: none;
}
@media (min-width: 5px) {
  .b-product-thumb {
    height: 400px;
  }
}
.b-product-thumb__image {
  margin-bottom: 10px;
}
.b-product-thumb__title {
  font-size: 13px;
}
.b-product-thumb__discount {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #5cb85c;
  color: #fff;
  font-size: 19px;
  padding: 2px 15px;
}
.b-product-thumb:hover .b-product-thumb__discount {
  background-color: #df691a;
}
.b-product-thumb__price {
  font-size: 19px;
}
.b-product-thumb__price-original {
  color: #777777;
  text-decoration: line-through;
}
.b-product-thumb__price-current {
  color: #df691a;
}
.b-product-thumb__count {
  color: #777777;
  font-size: 15px;
}
.b-product-widget {
  display: block;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
}
.b-product-widget:hover {
  border-color: #df691a;
  text-decoration: none;
}
.b-product-widget__image {
  display: block;
  float: left;
  height: 100px;
  margin-right: 15px;
}
.b-product-widget__title {
  color: #333333;
  margin-top: 0;
}
.b-product-widget__price {
  color: #df691a;
  font-weight: bold;
}
.b-product-widget__unit {
  color: #777777;
}
.b-product-widget__unit:before {
  display: inline-block;
  content: "/";
  margin-right: 3px;
}
.profile-actions {
  text-align: right;
}
@media (max-width: 999px) {
  .profile-actions .btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}
.profile-feedback-email:before,
.profile-feedback-email:after {
  content: " ";
  display: table;
}
.profile-feedback-email:after {
  clear: both;
}
.profile-feedback-email .form-control {
  padding-right: 150px;
}
.profile-feedback-email .form-control-feedback {
  padding-right: 10px;
  text-align: right;
  width: 150px;
}
.profile-feedback-email-link {
  display: inline-block;
  float: right;
  margin-top: 10px;
  padding-right: 10px;
}
.b-publication-list__item {
  margin-bottom: 40px;
}
.publication-header {
  display: block;
  font-size: 21px;
  line-height: 1.3;
  position: relative;
  margin: 0 0 20px;
}
.publication-header__title {
  color: #000;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.publication-header__link:hover,
.publication-header__link:focus {
  color: #df691a;
  text-decoration: none;
}
.publication-label-header {
  display: block;
  position: relative;
  padding-top: 8px;
}
.publication-label-header__container {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 10px solid #fff;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding-bottom: 5px;
  width: 90%;
}
.publication-label-header__background {
  display: inline;
  background: #fff;
  color: #000;
  padding: 6px 0 7px;
}
.publication-label-header__title {
  display: inline;
  font-size: 21px;
  line-height: 1.3;
  position: relative;
  left: -10px;
}
.publication-label-header__link:hover,
.publication-label-header__link:focus {
  color: #df691a;
  text-decoration: none;
}
.publication-label-header__image {
  display: block;
  width: 100%;
  height: 280px;
  background-size: cover;
}
.b-publication__paragraph {
  display: block;
  margin-bottom: 22px;
}
.b-publication__h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
}
.b-publication__h2 {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.3;
}
.b-publication__h3 {
  font-size: 18px;
  line-height: 1.3;
}
.b-publication__list {
  padding-left: 20px;
  margin-bottom: 0;
}
.b-publication blockquote {
  font-size: 17px;
}
.b-publication img {
  border: 1px solid #eeeeee;
  max-width: 100%;
}
.b-publication table {
  border: 1px solid #dddddd;
  margin-bottom: 11px;
}
.b-publication table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
.b-publication-teaser {
  margin-top: 11px;
  margin-bottom: 22px;
}
.b-publication-meta {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px 0;
  color: #777777;
  margin: 0;
  padding: 6px 0;
  overflow: hidden;
}
.b-publication-spoiler {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 11px;
}
.b-publication-spoiler__header {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
}
.b-publication-spoiler__header:hover {
  background-color: #eeeeee;
}
.b-publication-spoiler__header-icon {
  padding: 14px;
  position: absolute;
  top: 0;
  right: 0;
}
.b-publication-spoiler__header-icon:before {
  content: "\f068";
}
.b-publication-spoiler__header.collapsed .b-publication-spoiler__header-icon:before {
  content: "\f067";
}
.b-publication-spoiler__body {
  border-top: 1px solid #cccccc;
}
.b-publication-spoiler__content {
  padding: 10px 15px;
}
.b-publication-spoiler__content :last-child {
  margin-bottom: 0;
}
.b-publication-preview {
  border: 4px solid #cccccc;
  margin-bottom: 30px;
  padding: 10px 15px 5px;
}
.publication-widget-group:before,
.publication-widget-group:after {
  content: " ";
  display: table;
}
.publication-widget-group:after {
  clear: both;
}
.publication-widget-group__item {
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  float: left;
}
.publication-widget-group_columns_2 .publication-widget-group__item {
  width: 50%;
}
.publication-widget-group_columns_3 .publication-widget-group__item {
  width: 33.33333333%;
}
.publication-widget {
  background-size: cover;
  color: #fff;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}
.publication-widget:before {
  display: block;
  content: "";
  background: #000;
  opacity: .4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.publication-widget:hover,
.publication-widget:focus {
  color: #fff;
  text-decoration: none;
}
.publication-widget:hover:before,
.publication-widget:focus:before {
  background: #df691a;
  opacity: .6;
}
.publication-widget:hover .publication-widget__meta-icon {
  color: #fff;
}
.publication-widget_size_big {
  padding: 40px 50px;
  width: 100%;
  height: 400px;
}
.publication-widget_size_big .publication-widget__title {
  font-size: 37px;
  line-height: 1.2;
  width: 80%;
  margin-bottom: 20px;
}
.publication-widget_size_big .publication-widget__description {
  font-size: 18px;
  width: 60%;
}
.publication-widget_size_small {
  padding: 15px 20px;
  height: 170px;
}
.publication-widget_size_small .publication-widget__title {
  font-size: 19px;
  line-height: 1.3333333;
}
.publication-widget__title {
  position: relative;
}
.publication-widget__description {
  position: relative;
}
.publication-widget__date {
  font-size: 15px;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.publication-widget__meta {
  font-size: 15px;
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.b-qa__image-wrapper .b-qa__image {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.b-qa__image-wrapper .b-qa__image:last-child {
  margin-right: 0;
}
.b-qa__image-wrapper:before,
.b-qa__image-wrapper:after {
  content: " ";
  display: table;
}
.b-qa__image-wrapper:after {
  clear: both;
}
.b-rating-nav {
  margin-bottom: 20px;
}
.b-rating-table {
  border: 1px solid #dddddd;
  margin-bottom: 0;
}
.b-rating-table th,
.b-rating-table td {
  padding: 15px !important;
}
.b-rating-table td {
  font-size: 19px;
  vertical-align: middle !important;
}
.b-rating-table__serial-header {
  width: 9%;
}
.b-rating-table__serial-column {
  text-align: center;
}
.b-rating-table__avatar-header {
  width: 60px;
}
td.b-rating-table__avatar-column {
  padding: 10px 0 10px 10px !important;
}
.b-rating-table__avatar-column img {
  width: 100%;
  border-radius: 50%;
}
.b-rating-table__counter-header {
  padding: 5px 10px;
  text-align: right;
  width: 230px;
}
.b-rating-table__counter-column {
  text-align: right;
}
.b-rating-table__counter-sm {
  display: none;
  font-size: 0.7em;
}
.b-rating-table__row:hover .b-rating-table__counter-sm {
  display: inline-block;
}
.b-rating-table__counter-lg {
  display: inline-block;
  width: 40px;
}
.b-rating-table__username-column {
  min-width: 350px;
}
.b-rating-table__username-column .prize {
  display: block;
  float: right;
  margin-right: -10px;
}
.b-rating-table__username-link {
  color: #333333;
}
.b-rating-table__username-link:hover,
.b-rating-table__username-link:focus {
  color: #333333;
  text-decoration: none;
}
.b-rating-table__rating-header {
  text-align: right;
  width: 170px;
}
.b-rating-table__rating-column {
  text-align: right;
}
.b-rating-table .empty {
  text-align: center;
}
.wysiwyg {
  position: relative;
}
.wysiwyg-wrapper {
  border: 1px solid #dcdcdc;
  border-bottom: none;
  overflow: hidden;
}
.wysiwyg-panel {
  background: #eeeeee;
}
.with-title {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-right: 15px;
}
.wysiwyg-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #dcdcdc;
  float: left;
  color: #6da3bd;
}
.wysiwyg-button:hover {
  background: #dcdcdc;
  color: #4d7285;
}
.wysiwyg-button .fa {
  vertical-align: middle;
  display: inline-block;
}
.wysiwyg-dropdown {
  position: relative;
  overflow: hidden;
}
.wysiwyg-dropdown select {
  position: absolute;
  left: 0;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-appearance: none;
  border: 0;
  font-size: 14px;
  line-height: 32px;
  height: 32px;
}
.can_use_html {
  float: right;
  font-size: 10px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #dcdcdc;
  color: #666666;
}
.can_use_html a {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.wysiwyg-help {
  padding: 10px;
  clear: both;
  border-top: 1px solid #dcdcdc;
}
.wysiwyg-help h4 {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #666666;
}
.wysiwyg-help h4:first-child {
  margin-top: 0;
  clear: both;
  padding-top: 10px;
  font-size: 16px;
}
.wysiwyg-help dl {
  font-size: 11px;
  margin-bottom: 10px;
}
.wysiwyg-help dl dt {
  color: #000000;
  font-weight: bold;
}
.wysiwyg-help dl dd {
  color: #666666;
}
.wysiwyg-input {
  border: 1px solid #dcdcdc;
  padding: 2px;
  background: #ffffff;
}
.wysiwyg-input textarea {
  width: 99%;
  border: 0;
  margin: 0;
  font-size: 14px;
  outline: none;
  resize: none;
}
.wysiwyg-help .close_html {
  font-size: 10px;
  text-align: right;
}
.wysiwyg-help .close_html a {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.review-widget-group {
  margin-right: -2px;
}
.review-widget-group:before,
.review-widget-group:after {
  content: " ";
  display: table;
}
.review-widget-group:after {
  clear: both;
}
.review-widget-group__item {
  display: block;
  float: left;
  border-right: 2px solid #fff;
}
.review-widget-group--columns-3 .review-widget-group__item {
  width: 33.33333333%;
  height: 280px;
  padding-top: 24px;
}
.review-widget {
  display: block;
  position: relative;
  background-position: 50%;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
  height: 100%;
}
.review-widget:before {
  display: block;
  content: "";
  background: #000;
  opacity: .4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.review-widget:hover,
.review-widget:focus {
  color: #fff;
  text-decoration: none;
}
.review-widget:hover:before,
.review-widget:focus:before {
  background: #df691a;
  opacity: .6;
}
.review-widget__avatar {
  display: block;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  top: -23px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
}
.review-widget__content {
  position: absolute;
  padding: 10px;
  text-align: center;
  top: 30%;
  width: 100%;
}
.review-widget__title {
  font-size: 19px;
  line-height: 1.3333333;
  margin-bottom: 10px;
}
.social-groups {
  margin-left: -5px;
  margin-right: -5px;
}
.social-groups__link {
  display: inline-block;
  font-size: 19px;
  padding: 6px;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s ease;
  border-radius: 50%;
  text-align: center;
}
@media (min-width: 1280px) {
  .social-groups__link {
    margin: 0 5px;
  }
}
.social-groups__link_type_facebook {
  color: #3b5998;
}
.social-groups__link_type_facebook:hover {
  color: #3b5998;
  background-color: rgba(59, 89, 152, 0.3);
}
.social-groups__link_type_facebook:focus {
  color: #3b5998;
}
.social-groups__link_type_twitter {
  color: #55acee;
}
.social-groups__link_type_twitter:hover {
  color: #55acee;
  background-color: rgba(85, 172, 238, 0.3);
}
.social-groups__link_type_twitter:focus {
  color: #55acee;
}
.social-groups__link_type_vk {
  color: #45668e;
}
.social-groups__link_type_vk:hover {
  color: #45668e;
  background-color: rgba(69, 102, 142, 0.3);
}
.social-groups__link_type_vk:focus {
  color: #45668e;
}
.social-groups__link_type_youtube {
  color: #cd201f;
}
.social-groups__link_type_youtube:hover {
  color: #cd201f;
  background-color: rgba(205, 32, 31, 0.3);
}
.social-groups__link_type_youtube:focus {
  color: #cd201f;
}
.social-groups__link_type_instagram {
  color: #3f729b;
}
.social-groups__link_type_instagram:hover {
  color: #3f729b;
  background-color: rgba(63, 114, 155, 0.3);
}
.social-groups__link_type_instagram:focus {
  color: #3f729b;
}
.social-groups__link_type_inverse {
  color: #fff;
}
.social-groups__link_type_inverse:hover,
.social-groups__link_type_inverse:focus {
  color: #fff;
  background-color: #777777;
}
.b-tracker__error {
  color: #d9534f;
  margin-bottom: 15px;
}
.b-tracker__loader {
  margin-bottom: 15px;
  text-align: center;
}
.b-tracker-form {
  margin-bottom: 20px;
}
@media (min-width: 5px) {
  .b-tracker-form__input {
    width: 400px !important;
  }
}
@media (max-width: 4px) {
  .b-tracker-form__submit {
    width: 100%;
  }
}
.b-tracker-checkpoint {
  margin-bottom: 10px;
}
.b-tracker-checkpoint__time {
  font-weight: bold;
}
.b-tracker-checkpoint__action {
  display: inline-block;
}
.b-tracker-history {
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  padding: 15px;
}
.b-tracker-history__header {
  margin-top: 0;
}
.b-tracker-history__action-remove {
  color: #777777;
  cursor: pointer;
}
.b-tracker-history__action-remove:hover {
  color: #d9534f;
}
.b-upload-btn {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}
.b-upload-btn__input {
  top: -10px;
  right: -40px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 50px;
}
.b-upload-btn_style_link {
  border-bottom: 1px dashed #f4c19e;
  color: #df691a;
  font-weight: normal;
  text-decoration: none;
}
.b-upload-btn_style_link:hover {
  border-bottom-color: #9a4912;
  color: #9a4912;
}
.b-upload-btn-text {
  color: #777777;
  display: inline-block;
  font-size: 13px;
  line-height: 1.7;
  margin-left: 10px;
  overflow: hidden;
}
.b-upload-dnd {
  color: #777777;
  border: 2px dashed #cccccc;
  margin-bottom: 22px;
  padding: 20px;
  text-align: center;
}
@media (min-width: 1000px) {
  .b-upload-dnd {
    padding: 50px;
  }
}
.b-upload-dnd_state_hover {
  background: #eeeeee;
}
.b-upload-dnd__divider {
  display: block;
  content: "или";
  font-size: 80%;
  padding: 5px 0 10px;
}
.b-upload-dnd__text-default {
  display: block;
}
.b-upload-thumb-list {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -12px;
  overflow: hidden;
}
.b-upload-thumb-list__item {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 5px) {
  .b-upload-thumb-list__item {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1000px) {
  .b-upload-thumb-list__item {
    float: left;
    width: 16.66666667%;
  }
}
.b-upload-thumb {
  width: 100%;
  padding-bottom: 100%;
}
.b-upload-thumb_state_hoverable {
  position: relative;
}
a.b-upload-thumb_state_hoverable:hover {
  border-color: #dddddd;
}
.b-upload-thumb_state_hoverable .b-upload-thumb__hover {
  display: none;
}
.b-upload-thumb_state_hoverable:hover .b-upload-thumb__hover {
  display: block;
}
.b-upload-thumb__image {
  background: 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
}
.b-upload-thumb__hover {
  background: #222222;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.b-upload-thumb__hover-inner {
  font-size: 10px;
  line-height: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.b-upload-thumb__hover-icon {
  font-size: 60px;
}
/**
 * selectize.bootstrap3.css (v0.12.1) - Bootstrap 3 Theme
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 3px 12px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: 12px;
  top: 50%;
  color: #333333;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 1px 0 0 0;
  border-left: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: rgba(0, 0, 0, 0);
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: rgba(77, 77, 77, 0);
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #333333;
  font-family: inherit;
  font-size: inherit;
  line-height: 22px;
  -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border: 1px solid #cccccc;
  padding: 6px 12px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 5px 12px 2px;
}
.selectize-input.full {
  background-color: #ffffff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.selectize-input.dropdown-active {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
  background: #efefef;
  color: #333333;
  border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input > div.active {
  background: #df691a;
  color: #ffffff;
  border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #808080;
  background: #ffffff;
  border: 0 solid rgba(77, 77, 77, 0);
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.selectize-input > input::-ms-clear {
  display: none;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #ffffff;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(255, 237, 40, 0.4);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 3px 12px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #777777;
  background: #ffffff;
  cursor: default;
}
.selectize-dropdown .active {
  background-color: #f5f5f5;
  color: #262626;
}
.selectize-dropdown .active.create {
  color: #262626;
}
.selectize-dropdown .create {
  color: rgba(51, 51, 51, 0.5);
}
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333333 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #333333 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
  left: 17px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #ffffff;
}
.selectize-dropdown,
.selectize-dropdown.form-control {
  height: auto;
  padding: 0;
  margin: 2px 0 0 0;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.selectize-dropdown .optgroup-header {
  font-size: 13px;
  line-height: 1.5;
}
.selectize-dropdown .optgroup:first-child:before {
  display: none;
}
.selectize-dropdown .optgroup:before {
  content: ' ';
  display: block;
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  margin-left: -12px;
  margin-right: -12px;
}
.selectize-dropdown-content {
  padding: 5px 0;
}
.selectize-dropdown-header {
  padding: 6px 12px;
}
.selectize-input {
  min-height: 36px;
}
.selectize-input.dropdown-active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.selectize-input.dropdown-active::before {
  display: none;
}
.selectize-input.focus {
  border-color: #df691a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 105, 26, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 105, 26, 0.6);
}
.has-error .selectize-input {
  border-color: #a94442;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .selectize-input:focus {
  border-color: #843534;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.selectize-control.multi .selectize-input.has-items {
  padding-left: 9px;
  padding-right: 9px;
}
.selectize-control.multi .selectize-input > div {
  -webkit-border-radius: -1px;
  -moz-border-radius: -1px;
  border-radius: -1px;
}
.form-control.selectize-control {
  padding: 0;
  height: auto;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.selectize-input.focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-lg .selectize-input {
  line-height: 34px;
  padding-left: 16px;
}
.b-slider-gallery {
  margin-bottom: 10px;
}
.b-slider-gallery__images img {
  cursor: pointer;
}
.b-slider-gallery .lSPrev,
.b-slider-gallery .lSNext {
  z-index: 1000;
}
