/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2) format('woff2'),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.woff) format('woff'),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf) format('truetype'),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/fonts/fontawesome-webfont.svg#fontawesomeregular) format('svg');
}

#alitrust-widget {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#alitrust-widget #alitrust-widget-response{
    margin-top: 20px;
}
@media (min-width: 768px) {
    #alitrust-widget {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #alitrust-widget {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #alitrust-widget {
        width: 1170px;
    }
}

#alitrust-widget dl {
    margin-top: 0;
    margin-bottom: 22px;
}

#alitrust-widget dt,
#alitrust-widget dd {
    line-height: 1.5;
}

#alitrust-widget dt {
    font-weight: bold;
}

#alitrust-widget dd {
    margin-left: 0;
}

#alitrust-widget img {
    vertical-align: middle;
    border: 0;
}

#alitrust-widget table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}

#alitrust-widget td,
#alitrust-widget th {
    padding: 0;
}

#alitrust-widget th {
    text-align: left;
}

#alitrust-widget .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
}

#alitrust-widget .table > tbody > tr > th,
#alitrust-widget .table > tbody > tr > td {
    padding: 8px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#alitrust-widget .table-bordered {
    border: 1px solid #ddd;
}

#alitrust-widget .table-bordered > tbody > tr > th,
#alitrust-widget .table-bordered > tbody > tr > td {
    border: 1px solid #ddd;
}

#alitrust-widget .table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}

@media screen and (max-width: 4px) {
    #alitrust-widget .table-responsive {
        width: 100%;
        margin-bottom: 16.5px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
    }

    #alitrust-widget .table-responsive > .table {
        margin-bottom: 0;
    }

    #alitrust-widget .table-responsive > .table > tbody > tr > th,
    #alitrust-widget .table-responsive > .table > tbody > tr > td {
        white-space: nowrap;
    }

    #alitrust-widget .table-responsive > .table-bordered {
        border: 0;
    }

    #alitrust-widget .table-responsive > .table-bordered > tbody > tr > th:first-child,
    #alitrust-widget .table-responsive > .table-bordered > tbody > tr > td:first-child {
        border-left: 0;
    }

    #alitrust-widget .table-responsive > .table-bordered > tbody > tr > th:last-child,
    #alitrust-widget .table-responsive > .table-bordered > tbody > tr > td:last-child {
        border-right: 0;
    }

    #alitrust-widget .table-responsive > .table-bordered > tbody > tr:last-child > th,
    #alitrust-widget .table-responsive > .table-bordered > tbody > tr:last-child > td {
        border-bottom: 0;
    }
}

@media screen and (max-width: 4px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 16.5px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .table-responsive > .table {
        margin-bottom: 0;
    }

    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }

    .table-responsive > .table-bordered {
        border: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }

    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}

#alitrust-widget .panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#alitrust-widget .panel-body {
    padding: 15px;
}

#alitrust-widget .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1;
    border-top-left-radius: -1;
}

#alitrust-widget .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: inherit;
}

#alitrust-widget .panel-default {
    border-color: #ddd;
}

#alitrust-widget .panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

#alitrust-widget .dl-seller dd {
    margin-bottom: 5px;
}

@media (min-width: 5px) {
    #alitrust-widget .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #alitrust-widget .dl-horizontal dd {
        margin-left: 180px;
    }
}

@media (min-width: 480px) {
    #alitrust-widget .dl-seller dt {
        width: 250px;
    }

    #alitrust-widget .dl-seller dd {
        margin-left: 270px;
    }
}

#alitrust-widget .panel > .table,
#alitrust-widget .panel > .table-responsive > .table {
    margin-bottom: 0;
}

#alitrust-widget .panel > .table:first-child,
#alitrust-widget .panel > .table-responsive:first-child > .table:first-child {
    border-top-right-radius: -1;
    border-top-left-radius: -1;
}

#alitrust-widget .panel > .table:first-child > tbody:first-child > tr:first-child,
#alitrust-widget .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: -1;
    border-top-right-radius: -1;
}

#alitrust-widget .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
#alitrust-widget .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
#alitrust-widget .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
#alitrust-widget .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: -1;
}

#alitrust-widget .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
#alitrust-widget .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
#alitrust-widget .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
#alitrust-widget .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: -1;
}

#alitrust-widget .panel > .table:last-child,
#alitrust-widget .panel > .table-responsive:last-child > .table:last-child,
#alitrust-widget .panel > .table:last-child > tbody:last-child > tr:last-child,
#alitrust-widget .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child {
    border-bottom-left-radius: -1;
    border-bottom-right-radius: -1;
}

#alitrust-widget .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
#alitrust-widget .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
#alitrust-widget .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
#alitrust-widget .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: -1;
}

#alitrust-widget .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
#alitrust-widget .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
#alitrust-widget .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
#alitrust-widget .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: -1;
}

#alitrust-widget .panel > .panel-body + .table,
#alitrust-widget .panel > .panel-body + .table-responsive,
#alitrust-widget .panel > .table + .panel-body,
#alitrust-widget .panel > .table-responsive + .panel-body {
    border-top: 1px solid #ddd;
}

#alitrust-widget .panel > .table > tbody:first-child > tr:first-child th,
#alitrust-widget .panel > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}

#alitrust-widget .panel > .table-bordered,
#alitrust-widget .panel > .table-responsive > .table-bordered {
    border: 0;
}

#alitrust-widget .panel > .table-bordered > tbody > tr > th:first-child,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
#alitrust-widget .panel > .table-bordered > tbody > tr > td:first-child,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child {
    border-left: 0;
}

#alitrust-widget .panel > .table-bordered > tbody > tr > th:last-child,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
#alitrust-widget .panel > .table-bordered > tbody > tr > td:last-child,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child {
    border-right: 0;
}

#alitrust-widget .panel > .table-bordered > tbody > tr:first-child > td,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
#alitrust-widget .panel > .table-bordered > tbody > tr:first-child > th,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th,
#alitrust-widget .panel > .table-bordered > tbody > tr:last-child > td,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
#alitrust-widget .panel > .table-bordered > tbody > tr:last-child > th,
#alitrust-widget .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th {
    border-bottom: 0;
}

#alitrust-widget .panel > .table-responsive {
    border: 0;
    margin-bottom: 0;
}

#alitrust-widget .rating {
    color: #f0ad4e;
}

#alitrust-widget .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#alitrust-widget .fa-star:before {
    content: "\f005";
}

#alitrust-widget .fa-star-o:before {
    content: "\f006";
}

#alitrust-widget .fa-star-half:before {
    content: "\f089";
}

#alitrust-widget .fa-star-half-empty:before,
#alitrust-widget .fa-star-half-full:before,
#alitrust-widget .fa-star-half-o:before {
    content: "\f123";
}

#alitrust-widget .fa-stack {
    display: none;
}

#alitrust-widget #alitrust-widget-input {
    padding: 10px 100px 10px 10px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#alitrust-widget #alitrust-widget-input:focus{
    outline: none;
}
#alitrust-widget #alitrust-widget-submit {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 11px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
#alitrust-widget #alitrust-widget-submit:focus{
    outline: none;
}
#alitrust-widget #alitrust-widget-response-error{
    color: red;
}

#alitrust-widget #alitrust-widget-loading{
    background: url(http://alitrust.ru/widget/loading.gif) no-repeat center;
    height: 33px;
    text-align: center;
    margin-top: 20px;
}

#alitrust-widget .none{
    display: none;
}