<div id="alitrust-widget">
    <input type="text" id="alitrust-widget-input"/>
    <button id="alitrust-widget-submit">Отправить</button>
    <div id="alitrust-widget-response-error" class="none"></div>
    <div id="alitrust-widget-loading" class="none"></div>
    <div id="alitrust-widget-response" class="none"></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://alitrust.ru/widget/widget.js"></script>
    <link rel="stylesheet" href="http://alitrust.ru/widget/widget.css">
</div>